.search-loader, .search-list {
  top: 72.5px;
  width: 200px;
}
.iv{
  //width: 284px;
}


.resaltado {
  background-color: rgba(186, 207, 221, 0.575);
  padding: 1px  3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.2rem;
}

.contenedor-alineado {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.titulo-pago {
  width: 80px;
  margin-right: 7px;
}

.total {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}


.sh
{
  border: 1.5px solid rgba(22, 22, 22, 0.227);

  &:hover {
    box-shadow: 0 10px 14px rgba(0,0,0, 0.15);
    transition: 300ms;
}
}
