<div class="add-client">
  <div class="add-client-container">
    <h2 class="title text-center m-0">Añadir un cliente</h2>
    <form
      class="add-client__form"
      #clientForm="ngForm"
      (ngSubmit)="guardarCliente(clientForm)"
    >
      <div class="add-client__data-form row">
        <h3 class="subtitle">Datos</h3>
        <div class="add-client__data-form__section1 col-12 col-md-6">
          <div>
            <label for="cliente">Cliente</label>
            <input
              class="form-control"
              type="text"
              name="cliente"
              id="cliente"
              required
              [(ngModel)]="client.cliente"
            />
          </div>
          <div>
            <label for="contacto">Contacto</label>
            <input
              class="form-control"
              type="text"
              name="contacto"
              id="contacto"
              required
              [(ngModel)]="client.contacto"
            />
          </div>
          <div>
            <label for="rfc">RFC</label>
            <input
              class="form-control"
              type="text"
              name="rfc"
              id="rfc"
              required
              [(ngModel)]="client.rfc"
            />
          </div>
          <div>
            <label for="celular">Celular</label>
            <input
              class="form-control"
              type="text"
              name="celular"
              id="celular"
              required
              [(ngModel)]="client.celular"
            />
          </div>
          <div>
            <label for="telefono">Teléfono</label>
            <input
              class="form-control"
              type="text"
              name="telefono"
              id="telefono"
              required
              [(ngModel)]="client.telefono"
            />
          </div>
        </div>
        <div class="add-client__data-form__section2 col-12 col-md-6">
          <div>
            <label for="correo">Correo</label>
            <input
              class="form-control"
              type="text"
              name="correo"
              id="correo"
              required
              [(ngModel)]="client.correo"
            />
          </div>
          <div>
            <label for="descuento1">Descuento 1</label>
            <input
              class="form-control"
              type="text"
              name="descuento1"
              id="descuento1"
              required
              [(ngModel)]="client.descuento1"
            />
          </div>
          <div>
            <label for="descuento2">Descuento 2</label>
            <input
              class="form-control"
              type="text"
              name="descuento2"
              id="descuento2"
              required
              [(ngModel)]="client.descuento2"
            />
          </div>
          <div>
            <label for="descuento3">Descuento 3</label>
            <input
              class="form-control"
              type="text"
              name="descuento3"
              id="descuento3"
              required
              [(ngModel)]="client.descuento3"
            />
          </div>
        </div>
      </div>
      <div class="add-client__address-form row">
        <h3 class="subtitle">Dirección</h3>
        <div class="add-client__address-form__section1 col-12 col-md-6">
          <div>
            <label for="descripcion">Descripción</label>
            <input
              class="form-control"
              type="text"
              name="descripcion"
              id="descripcion"
              required
              [(ngModel)]="client.domicilio.descripcion"
            />
          </div>
          <div>
            <label for="calle">Calle</label>
            <input
              class="form-control"
              type="text"
              name="calle"
              id="calle"
              required
              [(ngModel)]="client.domicilio.calle"
            />
          </div>
          <div>
            <label for="numero_interior">Número interior</label>
            <input
              class="form-control"
              type="text"
              name="numero_interior"
              id="numero_interior"
              required
              [(ngModel)]="client.domicilio.numero_interior"
            />
          </div>
          <div>
            <label for="numero_exterior">Número exterior</label>
            <input
              class="form-control"
              type="text"
              name="numero_exterior"
              id="numero_exterior"
              required
              [(ngModel)]="client.domicilio.numero_exterior"
            />
          </div>
          <div>
            <label for="cruzamiento_uno">Cruzamiento 1</label>
            <input
              class="form-control"
              type="text"
              name="cruzamiento_uno"
              id="cruzamiento_uno"
              required
              [(ngModel)]="client.domicilio.cruzamiento_uno"
            />
          </div>
          <div>
            <label for="cruzamiento_dos">Cruzamiento 2</label>
            <input
              class="form-control"
              type="text"
              name="cruzamiento_dos"
              id="cruzamiento_dos"
              required
              [(ngModel)]="client.domicilio.cruzamiento_dos"
            />
          </div>
        </div>
        <div class="add-client__address-form__section2 col-12 col-md-6">
          <div>
            <label for="codigo_postal">Código Postal</label>
            <input
              class="form-control"
              type="text"
              name="codigo_postal"
              id="codigo_postal"
              required
              [(ngModel)]="client.domicilio.codigo_postal"
            />
          </div>
          <div>
            <label for="colonia">Colonia</label>
            <input
              class="form-control"
              type="text"
              name="colonia"
              id="colonia"
              required
              [(ngModel)]="client.domicilio.colonia"
            />
          </div>
          <div>
            <label for="localidad">Localidad</label>
            <input
              class="form-control"
              type="text"
              name="localidad"
              id="localidad"
              required
              [(ngModel)]="client.domicilio.localidad"
            />
          </div>
          <div>
            <label for="municipio">Municipio</label>
            <input
              class="form-control"
              type="text"
              name="municipio"
              id="municipio"
              required
              [(ngModel)]="client.domicilio.municipio"
            />
          </div>
          <div>
            <label for="estado">Estado</label>
            <input
              class="form-control"
              type="text"
              name="estado"
              id="estado"
              required
              [(ngModel)]="client.domicilio.estado"
            />
          </div>
        </div>
      </div>
      <div class="add-client__location d-flex flex-column bg-light p-3 rounded">
        <h3>Escoger localización:</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.210800261058!2d-89.58991272452435!3d20.98418548930773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5670d875954e45%3A0x48aac7b8b871ad1a!2sSistemasEstrategicosMX!5e0!3m2!1ses-419!2smx!4v1687209965484!5m2!1ses-419!2smx"
          class="rounded"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <button class="danger-btn" [routerLink]="['/clientes']">
          Cancelar
        </button>
        <button type="submit" class="general-btn align-self-end">
          Añadir cliente
        </button>
      </div>
    </form>
  </div>
</div>
