<div class="add-client">
  <div class="add-client-container">
    <h2 class="title text-center m-0">Añadir un cliente</h2>
    <form
      class="add-client__form"
      #clientForm="ngForm"
      (ngSubmit)="guardarCliente(clientForm)"
    >
      <div class="add-client__data-form row">
        <h3 class="subtitle">Datos</h3>
        <div class="add-client__data-form__section1 col-12 col-md-6">
          <div>
            <label for="cliente">Cliente</label>
            <input
              class="form-control"
              type="text"
              name="cliente"
              id="cliente"
              required
              [(ngModel)]="client.cliente"
            />
          </div>
          <div>
            <label for="contacto">Contacto</label>
            <input
              class="form-control"
              type="text"
              name="contacto"
              id="contacto"
              required
              [(ngModel)]="client.contacto"
            />
          </div>
          <div>
            <label for="RFC">RFC</label>
            <input
              class="form-control"
              type="text"
              name="RFC"
              id="RFC"
              required
              [(ngModel)]="client.RFC"
            />
          </div>
        </div>
        <div class="add-client__data-form__section2 col-12 col-md-6">
          <div>
            <label for="celular">Celular</label>
            <input
              class="form-control"
              type="text"
              name="celular"
              id="celular"
              required
              [(ngModel)]="client.celular"
            />
          </div>
          <div>
            <label for="telefono">Teléfono</label>
            <input
              class="form-control"
              type="text"
              name="telefono"
              id="telefono"
              required
              [(ngModel)]="client.telefono"
            />
          </div>
          <div>
            <label for="correo">Correo</label>
            <input
              class="form-control"
              type="text"
              name="correo"
              id="correo"
              required
              [(ngModel)]="client.correo"
            />
          </div>
          <div>
            <label for="descuento1">Descuento 1</label>
            <input
              class="form-control"
              type="text"
              name="descuento1"
              id="descuento1"
              required
              [(ngModel)]="client.descuento1"
            />
          </div>
          <div>
            <label for="descuento2">Descuento 2</label>
            <input
              class="form-control"
              type="text"
              name="descuento2"
              id="descuento2"
              required
              [(ngModel)]="client.descuento2"
            />
          </div>
          <div>
            <label for="descuento3">Descuento 3</label>
            <input
              class="form-control"
              type="text"
              name="descuento3"
              id="descuento3"
              required
              [(ngModel)]="client.descuento3"
            />
          </div>
        </div>
      </div>
      <div class="add-client__address-form row">
        <h3 class="subtitle">Dirección</h3>
        <div class="add-client__address-form__section1 col-12 col-md-6">
       
          <div>
            <label for="cross">Cruzamiento 1</label>
            <input
              class="form-control"
              type="text"
              name="cross"
              id="cross"
              required
              [(ngModel)]="newAddress.cross"
            />
          </div>
          <div>
            <label for="cross2">Cruzamiento 2</label>
            <input
              class="form-control"
              type="text"
              name="cross2"
              id="cross2"
              required
              [(ngModel)]="newAddress.cross2"
            />
          </div>
        </div>
        <div class="add-client__address-form__section2 col-12 col-md-6">
          <div>
            <label for="colony">Colonia</label>
            <input
              class="form-control"
              type="text"
              name="colony"
              id="colony"
              required
              [(ngModel)]="newAddress.colony"
            />
          </div>
          <div>
            <label for="city">Ciudad</label>
            <input
              class="form-control"
              type="text"
              name="city"
              id="city"
              required
              [(ngModel)]="newAddress.city"
            />
          </div>
          <div>
            <label for="municipality">Municipio</label>
            <input
              class="form-control"
              type="text"
              name="municipality"
              id="municipality"
              required
              [(ngModel)]="newAddress.municipality"
            />
          </div>
          <div>
            <label for="state">Estado</label>
            <input
              class="form-control"
              type="text"
              name="state"
              id="state"
              required
              [(ngModel)]="newAddress.state"
            />
          </div>
          <div>
            <label for="zipcode">Código Postal</label>
            <input
              class="form-control"
              type="text"
              name="zipcode"
              id="zipcode"
              required
              [(ngModel)]="newAddress.zipcode"
            />
          </div>
          <div>
            <label for="location">Localización</label>
            <input
              class="form-control"
              type="text"
              name="location"
              id="location"
              required
              [(ngModel)]="newAddress.location"
            />
          </div>
        </div>
      </div>
      <div class="add-client__location d-flex flex-column bg-light p-3 rounded">
        <h3>Escoger localización:</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.210800261058!2d-89.58991272452435!3d20.98418548930773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5670d875954e45%3A0x48aac7b8b871ad1a!2sSistemasEstrategicosMX!5e0!3m2!1ses-419!2smx!4v1687209965484!5m2!1ses-419!2smx"
          class="rounded"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <button class="danger-btn" [routerLink]="['/clientes']">
          Cancelar
        </button>
        <button type="submit" class="general-btn align-self-end">
          Añadir cliente
        </button>
      </div>
    </form>
  </div>
</div>
