<div class="add-client">
  <div class="add-client-container">
    <h2 class="title text-center m-0">Añadir un cliente</h2>
    <div class="add-client__data-form row">
      <h3 class="subtitle">Datos</h3>
      <div class="add-client__data-form__section1 col-12 col-md-6">
        <div>
          <label for="">Clave del cliente</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Cliente</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">RFC</label>
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="add-client__data-form__section2 col-12 col-md-6">
        <div>
          <label for="">Nombre comercial</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Descuentos</label>
          <input class="form-control" type="text" />
        </div>
      </div>
    </div>
    <div class="add-client__address-form row">
      <h3 class="subtitle">Dirección</h3>
      <div class="add-client__address-form__section1 col-12 col-md-6">
        <div>
          <label for="">Nombre</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Calle</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Número Interior</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Número Exterior</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Cruzamiento 1</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Cruzamiento 2</label>
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="add-client__address-form__section2 col-12 col-md-6">
        <div>
          <label for="">Colonia</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Ciudad</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Municipio</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Estado</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Código Postal</label>
          <input class="form-control" type="text" />
        </div>
        <div>
          <label for="">Localización</label>
          <input class="form-control" type="text" />
        </div>
      </div>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <button class="btn btn-danger" [routerLink]="['/clientes']">
        Cancelar
      </button>
      <button class="btn btn-primary align-self-end">Añadir cliente</button>
    </div>
  </div>
</div>
