<button type="button" class="orders-cart-btn icon-btn" *ngIf="!ordersVisibility" (click)="toggleOrdersVisibility()">
  <i class="fa fa-shopping-cart"></i>
</button>
<button type="button" class="orders-cart-btn icon-btn" #closeCart (click)="toggleOrdersVisibility()"
  *ngIf="!cerrarCarrito">
  <i class="fa fa-times"></i>
</button>
<div *ngIf="ordersVisibility" [ngClass]="{'orders-cart-container': true , 'slider-reverse' : cerrarCarrito}">
  <div class="orders-cart">
    <div class="orders-cart__empty" *ngIf="isCartEmpty">
      <p class="orders-cart_empty_text">El carrito está vacío</p>
      <i class="emptyCart bi bi-cart"></i>
      <button class="btn btn-danger" (click)="toggleOrdersVisibility()">
        Añadir productos
      </button>
    </div>
    <div class="orders-cart__normal" *ngIf="!isCartEmpty">
      <!-- Sección 1 -->
      <h2 class="orders-cart__title">PEDIDOS</h2>
      <!-- Sección 2 -->
      <div class="orders-cart__products">
        <article class="orders-cart__product row" *ngFor="let item of pedido">
          <div class="orders-cart__product-section1">
            <div class="cart__product-image">
              <img *ngIf="item.imagenes.length == 0" src="../../../../../assets/img/imgK.png">
              <img *ngIf="item.imagenes.length > 0" [src]="item.imagenes[0].fotografia" alt="imagen de un producto" />
            </div>
            <section class="cart__product-info">
              <h2>{{ item.articulo}}</h2>
              <h4>{{ item.familia }}</h4>
              <section class="quantity-box">
                <i class="fa fa-minus-circle btn-decrease" (click)="decreaseItemQuantity(item)"></i>
                <p class="orders-cart_product_quantity">
                  {{ item.quantity }}
                </p>
                <i class="fa fa-plus-circle btn-increase" (click)="increaseItemQuantity(item)"></i>
              </section>
            </section>
          </div>
          <div class="orders-cart__product-section2">
            <button class="orders-cart_product_btn-delete" (click)="deleteProduct(item)">
              <i class="fa fa-trash-o"></i>
            </button>
            <h3 class="orders-cart__product-price">${{ item.precio_total_formateado }}</h3>
          </div>
        </article>
      </div>
      <!-- Sección 3 -->
      <span class="orders-cart__clear" (click)="clearCart()"><i class="clearCart bi bi-cart" title="Vaciar carrito"></i></span>
      <div class="orders-cart__checkout">
        <h3 class="">Total:</h3>
        <h3 class="">${{ total }}</h3>
      </div>
      <div class="orders-cart__checkout justify-content-center">
        <button class="general-btn" (click)="useToggleModalVisibility()">
          Realizar pedido
        </button>
      </div>
    </div>
  </div>
</div>