<div class="orders-container">
  <div class="orders">
    <div class="orders__empty" *ngIf="isCartEmpty">
      <p class="orders__empty__text">El carrito está vacío</p>
      <i class="bi bi-cart"></i>
      <button class="btn btn-danger">
        <a href="/#/catalogo">Añadir productos</a>
      </button>
    </div>
    <div class="orders__normal" *ngIf="!isCartEmpty">
      <!-- Sección 1 -->
      <h2 class="orders__title">PEDIDOS</h2>
      <!-- Sección 2 -->
      <div class="orders__products">
        <article class="orders__product" *ngFor="let item of items">
          <div class="d-flex flex-row">
            <img
              [src]="item.imageUrl"
              alt="imagen de un producto"
              class="orders__product__image"
            />
            <section class="">
              <h2 class="">{{ item.title }}</h2>
              <h4 class="">{{ item.fam }}</h4>
              <section class="orders__product__quantity__box">
                <div
                  class="btn-decrease"
                  [class.btn-quantity-off]="btnQuantityOff"
                  (click)="decreaseItemQuantity(item)"
                >
                  -
                </div>
                <p class="orders__product__quantity">
                  {{ item.quantity }}
                </p>
                <div class="btn-increase" (click)="increaseItemQuantity(item)">
                  +
                </div>
              </section>
            </section>
          </div>
          <button
            class="orders__product__btn-delete"
            (click)="deleteProduct(item)"
          >
            <i  class="fas fa-trash"></i>
          </button>
          <div class="orders__product-price-box">
            <h3 class="orders__product-price">${{ item.price }}</h3>
          </div>
        </article>
      </div>
      <!-- Sección 3 -->
      <div class="orders__checkout">
        <h3 class="">Subtotal:</h3>
        <h4 class="">${{ subtotal }}</h4>
      </div>
      <div class="orders__checkout">
        <h3 class="">Descuentos:</h3>
        <h3 class="">${{ discounts }}</h3>
      </div>
      <div class="orders__checkout">
        <h3 class="">Total:</h3>
        <h3 class="">${{ total }}</h3>
      </div>
      <div class="orders__checkout justify-content-center">
        <button class="btn btn-danger">
          <a href="/#/pedidos-realizados">Finalizar pedido</a>
        </button>
      </div>
    </div>
  </div>
</div>
