<div class="container-fluid">
  <div class=" text-center col mt-3 mb-3">
    <p class="borde-left text-one-sub f18">PARTIDOS</p>
  </div>
  <div class="container">
    <div class="row justify-content-center mt-3 mb-3">
      <div  class="col-11 col-md-5 bg-white m-2 shadow border ">
          <div class="row">
              <div class="col-12 text-one-sub text-center titulo2_div">JORNADA 1</div>
          </div>
          <div class="row div_img mb-3">
              <div class="col-4 text-center ">
                  <img class="mt-4  img_div shadow" [src]="imagenLogo">
                  <p class="text-one">Equipo 1</p>
              </div>
              <div class="col-4">
                  <div class="row px-lg-3 px-0">
                      <div class="col-6 text-start p-0">
                          <p  class="marcador_green">22</p>
                          <!-- <p *ngIf="!lastGame.equipo_1.win" class="marcador_gray">lastGame.equipo_1.carreras</p> -->
                      </div>
                      <div class="col-6 text-end p-0">
                          <!-- <p *ngIf="lastGame.equipo_2.win" class="marcador_green">{{lastGame.equipo_2.carreras}}</p> -->
                          <p  class="marcador_gray">11</p>
                      </div>
                  </div>
                  <div class="row d-flex justify-content-center">
                      <hr class="linea">
                      <div class="circle">VS</div>
                      <hr class="linea">
                  </div>
              </div>
              <div class="col-4  text-center">
                  <img class="mt-4 shadow img_div" [src]="imagenLogo">
                    <p class="text-one">Equipo 2</p>
              </div>
          </div>
      </div>
<!-- PARTIDO2 -->
<div  class="col-11 col-md-5 bg-white mt-2 mb-2 shadow border ">
  <div class="row">
      <div class="col-12 text-one-sub text-center titulo2_div">JORNADA 1</div>
  </div>
  <div class="row div_img mb-3">
      <div class="col-4 text-center ">
          <img class="mt-4  img_div shadow" [src]="imagenLogo">
          <p class="text-one">Equipo 1</p>
      </div>
      <div class="col-4">
          <div class="row px-lg-3 px-0">
              <div class="col-6 text-start p-0">
                  <p  class="marcador_green">22</p>
                  <!-- <p *ngIf="!lastGame.equipo_1.win" class="marcador_gray">lastGame.equipo_1.carreras</p> -->
              </div>
              <div class="col-6 text-end p-0">
                  <!-- <p *ngIf="lastGame.equipo_2.win" class="marcador_green">{{lastGame.equipo_2.carreras}}</p> -->
                  <p  class="marcador_gray">11</p>
              </div>
          </div>
          <div class="row d-flex justify-content-center">
              <hr class="linea">
              <div class="circle">VS</div>
              <hr class="linea">
          </div>
      </div>
      <div class="col-4  text-center">
          <img class="mt-4 shadow img_div" [src]="imagenLogo">
            <p class="text-one">Equipo 2</p>
      </div>
  </div>
</div>
  </div>
  </div>
</div>
