<div class="container-fluid">
  <h1 class="title text-center">Visita Cliente</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="vendedor">Vendedor</label>
        <input type="text" class="form-control" id="vendedor" placeholder="Nombre del vendedor">
      </div>
      <div class="col-md-12 form-group">
        <label for="vendedor">Cliente</label>
        <input type="text" class="form-control" id="vendedor" placeholder="Nombre del cliente">
      </div>
      <div class="col-md-6 form-group">
        <label for="fechaVisita">Fecha de Visita</label>
        <input type="date" class="form-control" id="fechaVisita">
      </div>
      <div class="col-md-6 form-group">
        <label for="contacto">Contacto</label>
        <input type="text" class="form-control" id="contacto" placeholder="Nombre del contacto">
      </div>
      <div class="col-md-12 form-group">
        <label for="observaciones">Observaciones</label>
        <textarea class="form-control" id="observaciones" rows="3" placeholder="Escribe tus observaciones aquí"></textarea>
      </div>
      <div class="col-md-6 form-group">
        <label for="fechaSiguienteVisita">Fecha de Siguiente Visita</label>
        <input type="date" class="form-control" id="fechaSiguienteVisita">
      </div>
    </div>
    <div class="row text-center">
      <div class="m-1 col col-md-3">
        <button class=" general-btn"  (click)="guardarUbi()" >Ubicación</button>
      </div>
      <div class="m-1  col col-md-3">
        <button class=" search-btn" [routerLink]="['/sis_koonol/catalogos/']" >Pedidos</button>
      </div>
      <div class="m-1 col-md-3">
        <button class=" general-btn" >Sin Pedidos</button>
      </div>
    </div>
  </div>
</div>

