.auth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;

    &_image {
        background-image: url('../../../../assets/img/slider1.jpg');
        background-size: cover;
        background-position: center;
    }

    &_form {
        padding: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}