<div class="search-fam container shadow">
  <div class="search-fam-container">
    <h1 class="text-center title m-0">FAMILIAS</h1>

    <div class="search-fam__search-bar col align-self-start">
      <div class="d-flex">
        <input
          class="search-input"
          type="text"
          placeholder="Buscar familia"
          aria-label="Buscar famlia"
          aria-describedby="button-addon2"
          [(ngModel)]="searchFam"
        />
        <button class="search-btn" type="button" (click)="filtrarFamilias()">
          <i class="bi bi-search"> </i> BUSCAR
        </button>
      </div>
    </div>

    <div class="d-md-flex align-self-end">
      <a type="button" class="m-2 btn general-btn" (click)="openModal()"
        >AGREGAR FAMILIA</a
      >
    </div>
    <div class="container m-2 w-100">
      <div class="row">
        <div class="col-md-4 mb-3 mb-sm-0" *ngFor="let familia of filteredFam">
          <div
            id="fam-card"
            class="card"
            [class.active]="familia.familiaIsActive"
          >
            <div class="card-body">
              <a
                style="cursor: pointer"
                class="me-2 d-md-flex justify-content-md-end"
                (click)="openModal()"
                (click)="editarFamilia(familia)"
                ><i id="pin" class="bi bi-pencil-square"></i
              ></a>
              <h2 class="card-text">
                <b>Nombre:</b> {{ familia.familia | uppercase }}
              </h2>
              <h4 class="card-title"><b>ID:</b> {{ familia.id_familia }}</h4>
              <div class="d-md-flex justify-content-md-end">
                <button
                  type="button"
                  class="btn"
                  [ngClass]="getFamStatusClass(familia.activo)"
                  [attr.aria-pressed]="familia.activo === 1 ? 'true' : 'false'"
                  (click)="
                    deshabilitarFamilia(familia.id_familia, familia.activo)
                  "
                  style="
                    --bs-btn-padding-y: 0.25rem;
                    --bs-btn-padding-x: 0.5rem;
                    --bs-btn-font-size: 1rem;
                  "
                >
                  {{ getFamStatusText(familia.activo) }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="title text-center mt-3" *ngIf="resultsNotFound">
      No se encontraron resultados
    </h3>
  </div>
</div>

<!-- Modal -->
<div class="modal" [class.is-active]="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
        <a type="button" class="btn-close" (click)="closeModal()"></a>
      </div>
      <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarFamilia(f)">
        <div class="modal-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="mb-2 input-group-text" id="">Nombre</span>
            </div>
          </div>
          <div class="input-group">
            <input
              [(ngModel)]="familia.familia"
              name="familia"
              type="text"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn danger-btn"
            (click)="closeModal()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn general-btn">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
