@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "../breakpoints.scss";

.search-fam {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.search-fam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 90%;
}

.search-fam__search-bar {

  display: flex;
  margin-bottom: 10px;

  div {
    border-radius: 10px;

    .search-input {
      border-radius: 10px 0px 0px 10px;
      width: 27rem;
    }

    .search-btn {
      display: flex;
      gap: 10px;
      border-radius: 0px 10px 10px 0px;
    }

    &:focus-within {
      outline: 0.5px solid var(--color-base);
      box-shadow: 0px 2px 20px -5px var(--color-base);
      transition: 300ms;
    }
  }

  @include xs {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    div {
      width: 100%;
      /* Ajusta el ancho al 100% */
    }
  }


}





.modal {

  box-shadow: 0 0 2px 8px rgba(0, 0, 0, 0.568);
}


#pin {
  font-size: 1.2rem;
  color: #2b09ee;
  position: absolute;
}

.btn-success {
  border-radius: 17px;
  background-color: #28a745;
  color: #fff;
}

.btn-danger {
  border-radius: 17px;
  background-color: #ee0914;
  color: #fff;
}
