<!-- START NAV -->
<nav class="navbar is-white">
    <div class="navbar-brand">
        <a class="navbar-item" (click)="ocultarMenu()">
            <i class="fa fa-bars i-menu" aria-hidden="true"></i>
        </a>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
              <img class="" src="../../../../assets/img/logo_empresa.png">
            </a>
        </div>
    </div>
</nav>
<!-- END NAV -->
<div class="container-fluid contenido">
    <div class="row">
        <div class="col-2 is-2 slider" *ngIf="show_menu" [@enterAnimation]>
            <aside class="menu is-hidden-mobile">
                <p class="menu-label">
                  INFORMACIÓN GENERAL
                </p>
                <ul class="menu-list">
                    <li>
                      <div class="card card_default my-0">
                        <div class="card-content px-2 mx-1 my-0 py-0">
                          <div class="media">
                            <div class="media-right">
                              <figure class="image is-48x48 mb-2">
                                <img src="../../../../assets/img/user_random.jpeg" alt="Placeholder image">
                              </figure>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media-contet mt-4">
                        <p class="title is-5">Jaded Ruiz</p>
                        <p class="subtitle is-6">
                          Administrativo
                          <br>
                          <span class="tag is-info is-light">Recursos Humanos</span></p>
                      </div>
                    </li>
                </ul>
                <p class="menu-label pb-0 mb-0">
                  Catalogos
                </p>
                <ul class="menu-list">
                  <li [routerLink]="['/home']"><a><i class="fas fa-boxes ico14"></i> &nbsp;Productos</a></li>
                  <li [routerLink]="['/prov']"><a><i class="fas fa-user-edit ico14"></i> &nbsp;Proveedores</a></li>
                  <li [routerLink]="['/almacen']"><a><i class="fas fa-warehouse ico14"></i> &nbsp;Almacenes</a></li>
                  <li [routerLink]="['/clientes']"><a><i class="fas fa-portrait ico14" ></i> &nbsp;Clientes</a></li>
                  <li [routerLink]="['/vendedores']"><a><i class="fas fa-portrait ico14" ></i> &nbsp;Vendedores</a></li>
                  <li [routerLink]="['/buscador']"><a><i class="fa fa-folder ico14"></i> &nbsp;Familias</a></li>
                  <li [routerLink]="['/rutas']"><a><i class="fas fa-map-marked-alt ico14"></i> &nbsp;Rutas</a></li>
                </ul>
                <p class="menu-label pb-0 mb-0">
                    Procesos
                </p>
                <ul class="menu-list">
                    <li><a><i class="fas fa-cogs ico14"></i> &nbsp; Adminitrar almacen</a></li>
                    <li [routerLink]="['/pedidos-carrito']"><a><i class="fas fa-shopping-cart ico14"></i>&nbsp;Carrito</a></li>
                    <li [routerLink]="['/pedidos-realizados']"><a><i class="fas fa-clipboard-list ico14"></i> &nbsp;Pedidos</a></li>
                </ul>
                <p class="menu-label pb-0 mb-0">
                  Opciones
              </p>
              <ul class="menu-list">
                  <li (click)="logout()"><a><i class="fas fa-times-circle ico14"></i> &nbsp; Cerrar sesión</a></li>
              </ul>
            </aside>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

