@import '../breakpoints.scss';

.icon-btn {
    z-index: 2;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.orders-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(15, 15, 15, 0.500);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orders-modal__close {
    position: absolute;
    top: 85px;
    right: 10px;
}

.orders-modal__client,
.orders-modal__addresses,
.orders-modal__fin,
.orders-modal__extra {
    background-color: white;
    border-radius: 10px;
    // padding: 25px 10px 25px 10px;
    padding: 25px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(90%, 600px);
    height: 420px;
    z-index: 1;
}

.orders-modal__client-inputs {
    justify-content: center;
    gap: 15px;
}


.ng-autocomplete {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;

    .search-list {
        max-height: 200px;
    }
}

.orders-modal__client-select {
    outline: none;
    width: 150px;
    margin-top: 10px;
    border-radius: 5px;
}

.orders-modal__observations {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

    textarea {
        max-height: 90px;
        width: 80%;
        outline: none;
        padding: 10px;
    }
}

.orders-modal__client__buttons {
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.orders-modal__addresses-container {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.200);
    border-radius: 5px;
}

.orders-modal__addresses-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 255px;
}

.orders-modal__addresses-list::-webkit-scrollbar {
    width: 4px;
}

.orders-modal__addresses-list::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
}

.orders-modal__address {
    display: flex;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    padding: 5.5px 10px;
    gap: 10px;
    cursor: pointer;

    input {
        cursor: pointer;
    }

    label {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.orders-modal__address:hover {
    background-color: rgb(214, 214, 214);
}

.orders-modal__addresses-add {
    text-decoration: underline;
    color: steelblue;
    cursor: pointer;
    align-self: flex-start;
    margin: 5px 0 0 30px;
}

.orders-modal__buttons {
    margin-top: auto;
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.button-disabled {
    background-color: grey;
}

.orders-modal__fin {
    align-items: start;

    .title {
        align-self: center;
    }

    .orders-modal__fin-info {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.200);
        border-radius: 5px;
        width: 100%;

        p {
            padding: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.200);
        }

        .subtitle {
            padding: 10px;
        }
    }


    .span-extra {
        margin: 10px 0 0 10px;
        color: steelblue;
        cursor: pointer;

        &:hover {
            color: orangered;
            transition: 500ms;
        }
    }
}

.orders-modal__extra-image,
.orders-modal__extra-images {
    display: flex;

    img {
        object-fit: cover;
    }
}

.orders-modal__extra-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;

    .orders-modal__extra-image {
        border: 1px solid black;
        border-radius: 5px;
        width: 225px;
        height: 225px;
    }

    .orders-modal__extra-images-selector {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .orders-modal__extra-images {
            border: 0.5px solid black;
            border-radius: 5px;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }

    button {
        height: 50px;
    }
}


webcam {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    // background-color: grey;
}

.webcam-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 200px;
}