<div class="orders-cart__modal">
  <button class="orders-cart__modal__close icon-btn" (click)="useToggleModalVisibility()">
    <i class="fa fa-times"></i>
  </button>

  <div class="orders-modal__client" *ngIf="clienteVendedorModal">
    <h3 class="title text-center">¿Para qué cliente es el pedido?</h3>
    <!-- Autocomplete de clientes -->
    <div class="ng-autocomplete">
      <input class="search-input" type="text" placeholder="Buscar cliente" aria-label="Buscar cliente"
        aria-describedby="button-addon2" [formControl]="searchClientControl" (focus)="onFocusClientSearch()" />
      <div class="search-loader w-100" *ngIf="loaderCliente; else clientsReady">
        <i class="fa fa-spinner fa-pulse"></i>
      </div>
      <div class="d-flex w-100 justify-content-center p-2 border" *ngIf="noClients">
        <h4>No se encontraron clientes</h4>
      </div>
      <ng-template #clientsReady>
        <ul class="search-list" *ngIf="searchListCliente">
          <li class="search-list__element" *ngFor="let client of autocompleteClients"
            (click)="seleccionarCliente(client.id_cliente)">
            {{ client.cliente }}
          </li>
        </ul>
      </ng-template>
    </div>
    <!-- Termina Autocomplete -->
    <div class="orders-cart__client__buttons mt-auto">
      <button class="orders-cart__client__btn-cancel danger-btn" (click)="useToggleModalVisibility()">
        Cancelar
      </button>
      <button class="orders-cart__client__btn-confirm general-btn" (click)="confirmClient()">
        Confirmar
      </button>
    </div>
  </div>
  <div class="orders-modal__addresses" *ngIf="selectAddressModal">
    <h3 class="title text-center">Selecciona una dirección</h3>
    <div class="orders-cart__addresses-container">
      <div class="orders-cart__addresses-list">
        <div class="orders-cart__address" *ngFor="let address of addresses">
          <label>
            <input type="radio" name="address" [(ngModel)]="addressSelected" [value]="address" />
            {{ address.direccion }}
          </label>
        </div>
      </div>
    </div>
    <div class="orders-cart__address__buttons">
      <button class="danger-btn" (click)="backToClientModal()">Regresar</button>
      <button class="general-btn" [routerLink]="['/pedidos-realizados']">Continuar</button>
    </div>
  </div>
</div>