<div class="orders-cart__modal">
  <button
    class="orders-cart__modal__close icon-btn"
    (click)="useToggleModalVisibility()"
  >
    <i class="fas fa-times"></i>
  </button>
  <div class="orders-modal__client" *ngIf="selectClientModal">
    <h3 class="title text-center">¿Para qué cliente es el pedido?</h3>
    <!-- Autocomplete de clientes -->
    <div class="ng-autocomplete">
      <ng-autocomplete
        [data]="clients"
        [searchKeyword]="keyword"
        placeholder="Busca y selecciona el cliente"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        [minQueryLength]="3"
        [historyListMaxNumber]="10"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <!-- Termina Autocomplete -->
    <div class="orders-cart__client__buttons mt-auto">
      <button
        class="orders-cart__client__btn-cancel danger-btn"
        (click)="useToggleModalVisibility()"
      >
        Cancelar
      </button>
      <button
        class="orders-cart__client__btn-confirm general-btn"
        (click)="confirmClient()"
      >
        Confirmar
      </button>
    </div>
  </div>
  <div class="orders-modal__addresses" *ngIf="selectAddressModal">
    <h3 class="title text-center">Selecciona una dirección</h3>
    <div class="orders-cart__addresses-container">
      <div class="orders-cart__addresses-list">
        <div class="orders-cart__address" *ngFor="let address of addresses">
          <label>
            <input
              type="radio"
              name="address"
              [(ngModel)]="addressSelected"
              [value]="address"
            />
            {{ address.street }}, {{ address.colony }}, {{ address.city }}
          </label>
        </div>
      </div>
    </div>
    <div class="orders-cart__address__buttons">
      <button class="danger-btn" (click)="backToClientModal()">Regresar</button>
      <button class="general-btn" [routerLink]="['/pedidos-realizados']">Continuar</button>
    </div>
  </div>
</div>
