.bg-auth {
  background-color: #9b9595;
  background-image: url('https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 // background-attachment: fixed;
  background-size: cover;


}
.hover-df {
  color: #7b24cc;
}
.hover-df:hover {
  color: white;
  font-size: 1.2rem;
}

 i{
  font-size: 1.3rem;
 }

.tb{
  font-size: 1.2rem;
}

.image{
  height: auto;
  width: 250px;
}

