<div class="clients container shadow row">
  <div class="clients-container">
    <h1 class="text-center title">CLIENTES</h1>
    <!-- SEARCH-BAR -->
    <div class="clients__search-bar">
      <div class="d-flex flex-column">
        <input
          class="search-input"
          type="text"
          placeholder="Buscar cliente"
          aria-label="Buscar cliente"
          aria-describedby="button-addon2"
          [(ngModel)]="searchClient"
          (ngModelChange)="buscarCliente()"
        />
        <ul class="search-list" *ngIf="searchList">
          <li
            class="search-list__element"
            *ngFor="let client of autocompleteClients"
            (click)="seleccionarCliente(client.id_cliente)"
          >
            {{ client.cliente }}
          </li>
        </ul>
      </div>
      <button
        type="button"
        class="add-btn"
        (click)="addClient()"
        *ngIf="isClientSelected"
      >
        AGREGAR CLIENTE
      </button>
    </div>

    <!-- VISTA PARA CUANDO NO SE HAN BUSCADO CLIENTES -->
    <div class="client__form-container añadir" *ngIf="!isClientSelected">
      <div class="client__form-tabs">
        <!-- SELECTORES DE TABS -->
        <div class="d-flex w-100 align-items-start">
          <div class="tab" [class.active]="section === 1" (click)="tab(1)">
            Ingresar datos del cliente
          </div>
          <div class="tab" [class.active]="section === 2" (click)="tab(2)">
            Ingresar dirección del cliente
          </div>
        </div>
        <!-- FORMULARIO PARA CLIENTE -->
        <form
          class="w-100 form-data"
          #clientForm="ngForm"
          (ngSubmit)="guardarCliente(clientForm)"
        >
          <!-- SECCION DATOS -->
          <div class="client__data-form row" [class.active]="section === 1">
            <h3 class="subtitle">Datos</h3>
            <div class="client__data-form__section1 col-12 col-md-6">
              <div>
                <label for="cliente">Cliente</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="cliente"
                  id="cliente"
                  required
                  [(ngModel)]="client.cliente"
                />
              </div>
              <div>
                <label for="contacto">Contacto</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="contacto"
                  id="contacto"
                  required
                  [(ngModel)]="client.contacto"
                />
              </div>
              <div>
                <label for="rfc">RFC</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="rfc"
                  id="rfc"
                  required
                  [(ngModel)]="client.rfc"
                />
              </div>
              <div>
                <label for="celular">Celular</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="celular"
                  id="celular"
                  required
                  [(ngModel)]="client.celular"
                />
              </div>
              <div>
                <label for="telefono">Teléfono</label>
                <input
                  class="form-control form-label"
                  type="tel"
                  name="telefono"
                  id="telefono"
                  required
                  [(ngModel)]="client.telefono"
                />
              </div>
            </div>
            <div class="client__data-form__section2 col-12 col-md-6">
              <div>
                <label for="correo">Correo</label>
                <input
                  class="form-control form-label"
                  type="email"
                  name="correo"
                  id="correo"
                  required
                  [(ngModel)]="client.correo"
                />
              </div>
              <div>
                <label for="descuento1">Descuento 1</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="descuento1"
                  id="descuento1"
                  required
                  [(ngModel)]="client.descuento1"
                />
              </div>
              <div>
                <label for="descuento2">Descuento 2</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="descuento2"
                  id="descuento2"
                  required
                  [(ngModel)]="client.descuento2"
                />
              </div>
              <div>
                <label for="descuento3">Descuento 3</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="descuento3"
                  id="descuento3"
                  required
                  [(ngModel)]="client.descuento3"
                />
              </div>
            </div>
            <div class="w-100 d-flex justify-content-end mt-3">
              <button
                type="button"
                class="client__form-next general-btn align-self-end"
                [class.active]="section === 1"
                (click)="tab(2)"
              >
                Siguiente
              </button>
            </div>
          </div>
          <!-- SECCION DIRECCION -->
          <div class="client__address-form row" [class.active]="section === 2">
            <h3 class="subtitle">Dirección</h3>
            <div class="client__address-form__section1 col-12 col-md-6">
              <div>
                <label for="descripcion">Descripción</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="descripcion"
                  id="descripcion"
                  required
                  [(ngModel)]="addressSelected.descripcion"
                />
              </div>
              <div>
                <label for="calle">Calle</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="calle"
                  id="calle"
                  required
                  [(ngModel)]="addressSelected.calle"
                />
              </div>
              <div>
                <label for="numero_interior">Número interior</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="numero_interior"
                  id="numero_interior"
                  required
                  [(ngModel)]="addressSelected.numero_interior"
                />
              </div>
              <div>
                <label for="numero_exterior">Número exterior</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="numero_exterior"
                  id="numero_exterior"
                  required
                  [(ngModel)]="addressSelected.numero_exterior"
                />
              </div>
              <div>
                <label for="cruzamiento_uno">Cruzamiento 1</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="cruzamiento_uno"
                  id="cruzamiento_uno"
                  required
                  [(ngModel)]="addressSelected.cruzamiento_uno"
                />
              </div>
              <div>
                <label for="cruzamiento_dos">Cruzamiento 2</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="cruzamiento_dos"
                  id="cruzamiento_dos"
                  required
                  [(ngModel)]="addressSelected.cruzamiento_dos"
                />
              </div>
            </div>
            <div class="client__address-form__section2 col-12 col-md-6">
              <div>
                <label for="codigo_postal">Código Postal</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="codigo_postal"
                  id="codigo_postal"
                  required
                  [(ngModel)]="addressSelected.codigo_postal"
                />
              </div>
              <div>
                <label for="colonia">Colonia</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="colonia"
                  id="colonia"
                  required
                  [(ngModel)]="addressSelected.colonia"
                />
              </div>
              <div>
                <label for="localidad">Localidad</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="localidad"
                  id="localidad"
                  required
                  [(ngModel)]="addressSelected.localidad"
                />
              </div>
              <div>
                <label for="municipio">Municipio</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="municipio"
                  id="municipio"
                  required
                  [(ngModel)]="addressSelected.municipio"
                />
              </div>
              <div>
                <label for="estado">Estado</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="estado"
                  id="estado"
                  required
                  [(ngModel)]="addressSelected.estado"
                />
              </div>
            </div>
            <div
              class="w-100 d-flex flex-column align-items-center p-3 border rounded"
            >
              <h5 class="subtitle">Escoger localización</h5>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29820.20622142664!2d-89.78476881980899!3d20.891156151816034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f560d2a69351fd1%3A0xeb94cd869cee985c!2sKoonol%20Productos%20de%20Comercializaci%C3%B3n%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1688202394015!5m2!1ses-419!2smx"
                width="100%"
                height="400px"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <div class="w-100 d-flex justify-content-between mt-3">
              <button
                type="button"
                class="client__form-back danger-btn"
                [class.active]="section === 2"
                (click)="tab(1)"
              >
                Regresar
              </button>
              <button
                type="submit"
                class="client__form-save general-btn"
                [class.active]="section === 2"
              >
                Guardar cliente
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- VISTA DE LOS CLIENTES FILTRADOS -->
    <div class="client__form-container mostrar" *ngIf="isClientSelected">
      <div class="client__form-tabs">
        <!-- SELECTORES DE TABS -->
        <div class="d-flex w-100 align-items-start">
          <div class="tab" [class.active]="section === 1" (click)="tab(1)">
            Datos del cliente
          </div>
          <div class="tab" [class.active]="section === 2" (click)="tab(2)">
            Dirección del cliente
          </div>
        </div>
        <!-- FORMULARIO PARA DATOS DE CLIENTE -->
        <div class="client__data-form row" [class.active]="section === 1">
          <h3 class="subtitle">Datos</h3>
          <form
            class="w-100 form-address row"
            #editClientForm="ngForm"
            (ngSubmit)="guardarCliente(editClientForm)"
            *ngFor="let client of selectedClient"
          >
            <div class="client__data-form__section1 col-12 col-md-6">
              <div>
                <label for="cliente">Cliente</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="cliente"
                  id="cliente"
                  required
                  [(ngModel)]="client.cliente"
                />
              </div>
              <div>
                <label for="contacto">Contacto</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="contacto"
                  id="contacto"
                  required
                  [(ngModel)]="client.contacto"
                />
              </div>
              <div>
                <label for="rfc">RFC</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="rfc"
                  id="rfc"
                  required
                  [(ngModel)]="client.rfc"
                />
              </div>
              <div>
                <label for="celular">Celular</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="celular"
                  id="celular"
                  required
                  [(ngModel)]="client.celular"
                />
              </div>
              <div>
                <label for="telefono">Teléfono</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="telefono"
                  id="telefono"
                  required
                  [(ngModel)]="client.telefono"
                />
              </div>
            </div>
            <div class="client__data-form__section2 col-12 col-md-6">
              <div>
                <label for="correo">Correo</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="correo"
                  id="correo"
                  required
                  [(ngModel)]="client.correo"
                />
              </div>
              <div>
                <label for="descuento1">Descuento 1</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="descuento1"
                  id="descuento1"
                  required
                  [(ngModel)]="client.descuento1"
                />
              </div>
              <div>
                <label for="descuento2">Descuento 2</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="descuento2"
                  id="descuento2"
                  required
                  [(ngModel)]="client.descuento2"
                />
              </div>
              <div>
                <label for="descuento3">Descuento 3</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="descuento3"
                  id="descuento3"
                  required
                  [(ngModel)]="client.descuento3"
                />
              </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button type="submit" class="general-btn">Guardar cliente</button>
            </div>
          </form>
        </div>
        <!-- FORMULARIO PARA EDITAR O CREAR DIRECCION -->
        <div
          class="client__address-form row"
          [class.active]="section === 2"
          *ngIf="addAddressVisibility"
        >
          <h3 class="subtitle">Crear dirección</h3>
          <form
            class="w-100 from-address row"
            #addressForm="ngForm"
            (ngSubmit)="guardarDireccion(addressForm)"
          >
            <div class="client__address-form__section1 col-12 col-md-6">
              <div>
                <label for="descripcion">Descripción</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="descripcion"
                  id="descripcion"
                  required
                  [(ngModel)]="addressSelected.descripcion"
                />
              </div>
              <div>
                <label for="calle">Calle</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="calle"
                  id="calle"
                  required
                  [(ngModel)]="addressSelected.calle"
                />
              </div>
              <div>
                <label for="numero_interior">Número interior</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="numero_interior"
                  id="numero_interior"
                  required
                  [(ngModel)]="addressSelected.numero_interior"
                />
              </div>
              <div>
                <label for="numero_exterior">Número exterior</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="numero_exterior"
                  id="numero_exterior"
                  required
                  [(ngModel)]="addressSelected.numero_exterior"
                />
              </div>
              <div>
                <label for="cruzamiento_uno">Cruzamiento 1</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="cruzamiento_uno"
                  id="cruzamiento_uno"
                  required
                  [(ngModel)]="addressSelected.cruzamiento_uno"
                />
              </div>
              <div>
                <label for="cruzamiento_dos">Cruzamiento 2</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="cruzamiento_dos"
                  id="cruzamiento_dos"
                  required
                  [(ngModel)]="addressSelected.cruzamiento_dos"
                />
              </div>
            </div>
            <div class="client__address-form__section2 col-12 col-md-6">
              <div>
                <label for="codigo_postal">Código Postal</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="codigo_postal"
                  id="codigo_postal"
                  required
                  [(ngModel)]="addressSelected.codigo_postal"
                />
              </div>
              <div>
                <label for="colonia">Colonia</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="colonia"
                  id="colonia"
                  required
                  [(ngModel)]="addressSelected.colonia"
                />
              </div>
              <div>
                <label for="localidad">Localidad</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="localidad"
                  id="localidad"
                  required
                  [(ngModel)]="addressSelected.localidad"
                />
              </div>
              <div>
                <label for="municipio">Municipio</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="municipio"
                  id="municipio"
                  required
                  [(ngModel)]="addressSelected.municipio"
                />
              </div>
              <div>
                <label for="estado">Estado</label>
                <input
                  class="form-control form-label"
                  type="text"
                  name="estado"
                  id="estado"
                  required
                  [(ngModel)]="addressSelected.estado"
                />
              </div>
            </div>
            <div
              class="w-100 d-flex flex-column justify-content-center p-3 border rounded"
            >
              <h5 class="subtitle">Escoger localización</h5>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29820.20622142664!2d-89.78476881980899!3d20.891156151816034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f560d2a69351fd1%3A0xeb94cd869cee985c!2sKoonol%20Productos%20de%20Comercializaci%C3%B3n%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1688202394015!5m2!1ses-419!2smx"
                width="100%"
                height="400px"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <div class="w-100 d-flex justify-content-between mt-3">
              <button
                type="button"
                class="client__form-back danger-btn"
                [class.active]="section === 2"
                (click)="offAddAddressVisibility()"
              >
                Regresar
              </button>
            </div>
            <button
              type="submit"
              class="client__form-save general-btn"
              [class.active]="section === 2"
            >
              Guardar dirección
            </button>
          </form>
        </div>
        <!-- SECCION DIRECCIONES -->
        <div
          class="client__addresses"
          [class.active]="section === 2"
          *ngIf="!addAddressVisibility"
        >
          <h3 class="subtitle">Direcciones</h3>
          <ul class="client__addresses-list">
            <li *ngFor="let address of addresses">
              <span>{{ address.direccion }}</span>
              <i
                class="bi bi-pencil-square"
                (click)="editarDireccion(address.id_cliente_direccion)"
              ></i>
            </li>
          </ul>
          <button
            class="general-btn align-self-end"
            (click)="onAddAddressVisibility()"
          >
            Agregar dirección
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
