.clients {
    position: relative;
    width: 100%;

    &__first-section {
        .icon-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 50px;
        }
    }
}

