.point-of-sale {
  margin-top: 1.5rem;

  .cart {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;

    .cart-item {
      border-bottom: 1px solid #dee2e6;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;

      .item-name {
        font-weight: bold;
      }

      .item-quantity {
        color: #007bff;
      }
    }

    .cart-total {
      text-align: right;
      font-weight: bold;
      margin-top: 10px;
    }

    button {
      margin-top: 20px;
    }
  }
}
.full-height {
  height: calc(85vh - 40px); /* 40px para el padding vertical */
  overflow-y: auto; /* Agrega scroll si es necesario */
}

