<h2 class="title text-center">Punto de venta</h2>
    <!-- Contenido del Punto de Venta -->
    <div class="point-of-sale">
      <div class="row">
        <div class="col-md-8">
          <!-- Lista de productos disponibles -->
          <div class="product-list">
            <table class="table product-table">
              <thead>
                <tr>
                  <th>Cancelar</th>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td><button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.price | currency: 'MX' }}</td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="input-group d-flex align-items-end">
            <input type="text" class="form-control" placeholder="Producto" >
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button">Agregar</button>
            </div>
          </div>
        </div>
        <!-- Resumen de la Compra -->
        <div class="col-md-4">
          <div class="cart full-height">
            <h2 class="cart-title">Carrito de Compras</h2>
            <table class="table cart-table">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cartItems">
                  <td>{{ item.productName }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.quantity * item.price | currency: 'MX' }}</td>
                </tr>
              </tbody>
            </table>
            <div class="total-amount">
              Total: {{ calculateTotal() | currency: 'MX' }}
            </div>
            <div class="cart-buttons d-flex justify-content-between">
              <button class="btn btn-success checkout-btn">Cobrar</button>
              <button class="btn btn-secondary clear-btn">Limpiar Carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
