<div class="proveedores container shadow row">
    <div class="proveedores-container">
        <h1 class="text-center title">PROVEEDORES</h1>
        <div class="proveedores__search-bar">
            <div class="d-flex">
                <input class="search-input" type="text" placeholder="Buscar proveedores" aria-label="Buscar proveedores"
                    aria-describedby="button-addon2" />
                <button class="search-btn" type="button">
                    <i class="bi bi-search"> </i> BUSCAR
                </button>
            </div>
            <button type="button" class="add-btn">AGREGAR PROVEEDOR</button>
        </div>
        <section class="proveedores_catalogo">
            <div>
                <span>RFC:</span>
                <form action="/rutadatos" method="get">
                    <input #inputProvForm value="CADS020404SC4" placeholder="RFC" disabled> 
                </form>
            </div>

            <div>
                <span>Razón Social:</span>
                <form action="/rutadatos" method="get">
                    <input #inputProvForm value="Serteza" placeholder="Razón Social" disabled> 
                </form>
            </div>

            <div >
                <span>Teléfono:</span>
                <form action="/rutadatos" method="get">
                    <input #inputProvForm value="9993523366" placeholder="Teléfono" disabled>
                </form>
            </div>

            <div>
                <span>Descuento:</span>
                <form action="/rutadatos" method="get">
                    <input #inputProvForm value="50%" placeholder="Descuento" disabled> 
                </form>
            </div>
            <div>
                <span>Dirección:</span>
                <form action="/rutadatos" method="get">
                    <input #inputProvForm value="Calle 17 #111 entre 10 y 12 col. Brisas" placeholder="Dirección" disabled> 
                </form>
            </div>
        </section>
        <div class="proveedores_botones">
                <button class="general-btn" type="button" (click)="editarProveedor()">Editar</button>
                <button class="general-btn" type="submit" (click)="modificarProveedor()">Guardar</button>
        </div>
    </div>
</div>