<!-- START NAV -->
<!-- <nav class="navbar is-white">
  <div class="navbar-brand">
    <a class="navbar-item" (click)="ocultarMenu()">
      <i class="fa fa-bars i-menu" aria-hidden="true"></i>
    </a>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <img class="" src="../../../../assets/img/logo_empresa.png">
      </a>
    </div>
  </div>
</nav> -->
<!-- END NAV -->
<!-- <div class="container-fluid contenido">
  <div class="row">
    <div class="col-2 is-2 slider" *ngIf="show_menu" [@enterAnimation]>
      <aside class="menu is-hidden-mobile">
        <p class="menu-label">
          INFORMACIÓN GENERAL
        </p>
        <ul class="menu-list">
          <li>
            <div class="card card_default my-0">
              <div class="card-content px-2 mx-1 my-0 py-0">
                <div class="media">
                  <div class="media-right">
                    <figure class="image is-48x48 mb-2">
                      <img src="../../../../assets/img/user_random.jpeg" alt="Placeholder image">
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="media-contet mt-4">
              <p class="title is-5">Jaded Ruiz</p>
              <p class="subtitle is-6">
                Administrativo
                <br>
                <span class="tag is-info is-light">Recursos Humanos</span>
              </p>
            </div>
          </li>
        </ul>
        <p class="menu-label pb-0 mb-0">
          Catalogos
        </p>
        <ul class="menu-list">
          <li class="menu-list-element" [routerLink]="['/sis_koonol/catalogos/']">
            <a><i class="fas fa-boxes ico14"></i><span>Productos</span></a>
          </li>
          <li class="menu-list-element" [routerLink]="['/sis_koonol/catalogos/prov']">
            <a><i class="fas fa-user-edit ico14"></i><span>Proveedores</span></a>
          </li>
          <li class="menu-list-element" [routerLink]="['/sis_koonol/catalogos/almacen']">
            <a><i class="fas fa-warehouse ico14"></i><span>Almacenes</span></a>
          </li>
          <li class="menu-list-element" [routerLink]="['/sis_koonol/catalogos/clientes']">
            <a><i class="fas fa-portrait ico14"></i><span>Clientes</span></a>
          </li>
          <li class="menu-list-element" [routerLink]="['/sis_koonol/catalogos/vendedores']">
            <a><i class="fas fa-portrait ico14"></i><span>Vendedores</span></a>
          </li>
          <li class="menu-list-element" [routerLink]="['/sis_koonol/catalogos/buscador']">
            <a><i class="fa fa-folder ico14"></i><span>Familias</span></a>
          </li>
          <li class="menu-list-element" [routerLink]="['/sis_koonol/catalogos/rutas']">
            <a><i class="fas fa-map-marked-alt ico14"></i><span>Rutas</span></a>
          </li>
        </ul>
        <p class="menu-label pb-0 mb-0">
          Procesos
        </p>
        <ul class="menu-list">
          <li class="menu-list-element">
            <a><i class="fas fa-cogs ico14"></i><span>Administrar almacen</span></a>
          </li>
          <li class="menu-list-element" [routerLink]="['/pedidos-realizados']">
            <a><i class="fas fa-clipboard-list ico14"></i><span>Pedidos</span></a></li>
        </ul>
        <p class="menu-label pb-0 mb-0">
          Opciones
        </p>
        <ul class="menu-list">
          <li class="menu-list-element" (click)="logout()">
            <a><i class="fas fa-times-circle ico14"></i><span>Cerrar sesión</span></a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col">
    </div>
  </div>
</div> -->
<!-- ------------------------------------------------- -->



<nav class=" text-ligth navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img [src]="imagenLogo" alt="Logo" width="40" height="54" class=" text-center d-inline-bloc">
         <span class="mt-2">LIGA INFANTIL Y JUVENIL</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Partidos</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accesos
            </a>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="#">Rol de juegos</a></li>
              <li><a class="dropdown-item" href="#">Complilacion</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a  class="dropdown-item" href="#">Reglamento</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Estadisticas</a>
          </li>
        </ul>
        <form class="d-flex " role="search">
          <button class="me-2 btn btn-outline-info" type="submit">Registro</button>
          <button class="btn btn-outline-warning" type="submit">Ingresar</button>
        </form>
      </div>
    </div>

</nav>




<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
    </section>


    <!-- Section: Text -->
    <section class="mb-4 ">
      <p>
        Esta página de la Liga Yucatán es recreativa y con contenido educativo para todos los aficionados del rey de los
        deportes. No tenemos información sobre inscripciones ni temas de oficina.
      </p>
    </section>
    <!-- Section: Text -->
    <p>
      <i class="fas fa-envelope me-3 text-secondary"></i>
      ligayucatan@serteza.com
    </p>
    <p><i class="fas fa-phone me-3 text-secondary"></i> +52 981 159 2659</p>




  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023
    <a class="text-white" href="#">Serteza.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
