<nav class=" text-ligth navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img [src]="imagenLogo" alt="Logo" width="40" height="54" class=" text-center d-inline-bloc">
         <span class="mt-2">LIGA INFANTIL Y JUVENIL</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="reglamento()" >Reglamento</button>
          </li>
        </ul>
        <form class="d-flex " role="search">
          <button class="me-2 btn btn-outline-info" type="submit">Registro</button>
          <button class="btn btn-outline-warning" type="submit">Ingresar</button>
        </form>
      </div>
    </div>

</nav>

<app-carousel-header></app-carousel-header>
<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
    </section>


    <!-- Section: Text -->
    <section class="mb-4 ">
      <p>
        Esta página de la Liga Yucatán es recreativa y con contenido educativo para todos los aficionados del rey de los
        deportes. No tenemos información sobre inscripciones ni temas de oficina.
      </p>
    </section>
    <!-- Section: Text -->
    <p>
      <i class="fas fa-envelope me-3 text-secondary"></i>
      ligayucatan@serteza.com
    </p>
    <p><i class="fas fa-phone me-3 text-secondary"></i> +52 981 159 2659</p>




  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023
    <a class="text-white" href="#">Serteza.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
