<body>
  <app-orders-cart></app-orders-cart>
<!-- Buscador -->
<h1 class="tit_cat">Catalogo</h1>

      <div class="search-bar" [class.sticky]="isSticky" [class.active]="isSticky" >
      <input type="text" placeholder="Productos" [(ngModel)]="searchTitle">
      <input type="text" placeholder="Familia" [(ngModel)]="searchFam">
      <button type="button" class="button" (click)="buscar()">BUSCAR</button>
      <button type="button" class="button">AGREGAR PRODUCTO</button>
      
       <!-- Sin Resultados -->
       <div *ngIf="noResults" style="color:rgb(253, 252, 252); font-size: 20px;">No se encontraron resultados.</div>
      </div>
       <hr/>
  
   <div class="columns is-multiline is-variable is-4">
    <div class="column is-one-quarter-desktop is-one-third-tablet is-full-mobile" *ngFor="let item of items">
      <div class="card">
        <div class="card-image">
          <figure class="imageF is-16by9">
            <img [src]="item.imageUrl" alt="Producto">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <h2 class="title is-3">{{ item.title }}</h2>
              <h3  class="subtitle is-5">{{ item.fam }}</h3>
            </div>
          </div>
          <div class="content"> {{ item.description }}
            <br />
            <a (click)="openModal(item)" style="color: red;" >Ver Detalles</a>
            <br>
            <span class="card-price custom-align"><strong>{{ item.price }}</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- Modal -->
<div class="modal" [class.is-active]="isModalOpen">
  <div class="modal-background"></div>
  <div class="modal-content" *ngIf="selectedCard">
    <div class="box">
      <div class="media">
        <div class="media-left">
          <figure class="image ">
            <img [src]="selectedCard.imageUrl" alt="Producto">
          </figure>
        </div>
        <div class="media-content">
          <span>Nombre: </span><p class="title">{{ selectedCard.title }}</p>
         <span>Familia: </span> <p class="fam">{{ selectedCard.fam }}</p>
          <span>Descripción: </span><p>{{ selectedCard.description }}</p>
          <p><strong>Price: {{ selectedCard.price }}</strong></p>
        </div>
        <button style="margin-right: 4px;" class=" btn btn-danger"  type="submit">EDITAR</button>
        <button  class=" btn btn-warning"  type="submit">OTRO BOTON</button>
        </div>
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th>Almacen</th>
            <th>Ubicacion</th>
            <th>Precio</th>
            <th>Unidad</th>
            <th>Descuento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Almacen 1</td>
            <td>Ubicacion 1</td>
            <td>$10.00</td>
            <td>Pieza</td>
            <td>Pieza</td>
          </tr>
          <tr>
            <td>Almacen 2</td>
            <td>Ubicacion 2</td>
            <td>$15.00</td>
            <td>Pieza</td>
            <td>Pieza</td>
          </tr>
          <!--Argegar filas -->
        </tbody>
      </table>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>



  


  <!-- Logica para la animación de la barra de busqueda -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(window).scroll(function() {
      var scrollTop = $(window).scrollTop();
      var searchBar = $('.search-bar');
      
      if (scrollTop > 0) {
        searchBar.addClass('sticky');
      } else {
        searchBar.removeClass('sticky');
      }
    });
  </script>
</body>
 
