<body>
  <app-orders-cart (toggleModalVisibility)="toggleModalVisibility()"></app-orders-cart>
  <app-orders-cart-modal
  *ngIf="modalVisibility"
  (toggleModalVisibility)="toggleModalVisibility()"
></app-orders-cart-modal>



<!-- Buscador -->
<h1 class="mb-2 title text-center m-4">PRODUCTOS</h1>

      <div class="search-bar" [class.sticky]="isSticky" [class.active]="isSticky" >
      <input type="text" class="search-input" placeholder="Productos" [(ngModel)]="searchTitle">
      <input type="text" class="search-input" placeholder="Familia" [(ngModel)]="searchFam">
      <button type="button" class="search-btn" (click)="buscar()">BUSCAR</button>
      <button type="button" class="add-btn" (click)="agregarProducto()">AGREGAR PRODUCTO</button>

       <!-- Sin Resultados -->
      </div>
      <div class="text-center" *ngIf="noResults" style="  color:red; font-size: 40px;">No se encontraron resultados.</div>
       <hr/>


       <div class="container-fluid">
   <div class="columns is-multiline is-variable is-4">
    <div class="column is-one-quarter-desktop is-one-third-tablet is-full-mobile" *ngFor="let item of items">
      <div class="card">
        <a
        type="button"
        class="mt-1 me-1 align-self-end btn_h "
        (click)="agregarProductoCarrito(item)"
        >+</a>

        <div class="card-image">
          <figure class="imageF is-16by9">
            <img [src]="item.imageUrl" alt="Producto">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <h2 class="title is-3">{{ item.title }}</h2>
              <h3  class=" subtitle is-5">{{ item.fam }}</h3>
            </div>
          </div>
          <div class="content mt-0"> {{ item.description }}
            <br />
            <a (click)="openModal(item)" style="color: var(--color-terciario)" >Ver Detalles</a>
            <br>
            <span class="card-price custom-align"><strong>{{ item.price }}</strong></span>
          </div>
        </div>



      </div>
    </div>
  </div>

       </div>


<!-- Modal -->
<div class="modal" [class.is-active]="isModalOpen">
  <div class="modal-background"></div>
  <div class="modal-content" *ngIf="selectedCard">
    <div class="box">
      <div class="media">
        <div class="media-left">
          <figure class="image ">
            <img [src]="selectedCard.imageUrl" alt="Producto">
          </figure>
        </div>
        <div class="media-content">
          <span>Nombre: </span><p class="title">{{ selectedCard.title }}</p>
         <span>Familia: </span> <p class="fam">{{ selectedCard.fam }}</p>
          <span>Descripción: </span><p>{{ selectedCard.description }}</p>
          <p><strong>Price: {{ selectedCard.price }}</strong></p>
        </div>
        <button style="margin-right: 4px;" class=" btn btn-danger"  type="submit">EDITAR</button>
        <button  class=" btn btn-warning"  type="submit">OTRO BOTON</button>
        </div>
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th>Almacen</th>
            <th>Ubicacion</th>
            <th>Precio</th>
            <th>Unidad</th>
            <th>Descuento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Norte</td>
            <td>Ubicacion 1</td>
            <td>$10.00</td>
            <td>costal (20kg)</td>
            <td>15%</td>
          </tr>
          <tr>
            <td>SurEste</td>
            <td>Ubicacion 2</td>
            <td>$15.00</td>
            <td>kg</td>
            <td>20%</td>
          </tr>
          <!--Argegar filas -->
        </tbody>
      </table>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>






  <!-- Logica para la animación de la barra de busqueda -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(window).scroll(function() {
      var scrollTop = $(window).scrollTop();
      var searchBar = $('.search-bar');

      if (scrollTop > 0) {
        searchBar.addClass('sticky');
      } else {
        searchBar.removeClass('sticky');
      }
    });
  </script>
</body>

