// Titulo
.tit_cat {
  font-size: 4em;
  color: #333;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para los inputs y botones */
.search-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  border-radius: 1em;
  transition: opacity .4s ease-in-out;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar.sticky {
  animation: fade-in 2.3s forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search-bar.sticky:not(.active) {
  animation: fade-out 1.3s forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.btn_h {
  display: inline-block;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--color-base);
  color: white;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
}

.btn_h:hover {
  background-color: var(--hover-base);
}



.add-btn {
  max-width: 400px;
}

// CARD
.card-price.custom-align {
  text-align: right;
}










/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-bar input:not([type="submit"]) {
    width: 100%;
  }

  .search-bar button {
    width: 100%;
  }
}


// MODAL
