 <div class="vendedores container shadow row">
    <div class="vendedores-container">
        <h1 class="text-center title ">Vendedores</h1>

        <!-- //Barra de Busqueda => -->
        <div class="vendedores__search-bar">
            <div class="d-flex">
                <input
                class="search-input"
                type="text"
                placeholder="Buscar Vendedores"
                aria-label="Buscar Vendedores"
                aria-describedby="button-addon2"
                [(ngModel)]="searchVendedor"
                (ngModelChange)="buscarVendedor()"
                />
                <ul class="search-list" *ngIf="searchList">
                  <li class="search-list__element" *ngFor="let vendedor of autocompleteVendedor"
                  (click)="selecionarVendedor(vendedor.id_vendedor)">
                  {{ vendedor.vendedor}}
                  </li>
                </ul>
            </div>


        <!-- //Boton de Status => -->
        <button
        type="button"
        class="btn"
        [ngClass]="getVendedorStatusClass(vendedor.activo)"
        [attr.aria-pressed]="vendedor.activo === 1 ? 'true' : 'false'"
        (click)="activarVendedor(vendedor.id_vendedor, vendedor.activo)"
        style=
        "--bs-btn-padding-y:0.25rem;
         --bs-btn-padding-x: 0.5rem;
         --bs-btn-font-size: 0.9rem;">
        {{ getVendedorStatusText(vendedor.activo) }}
      </button>
            <button type="button" class="add-btn" (click)="cargarCampos()" >
            AGREGAR Vendedor
            </button>
        </div>

        <!-- //Formulario => -->
        <form
        class="vendedor__form "
        #vendedorForm="ngForm"
        (ngSubmit)="guardarVendedor(vendedorForm)"
      >
        <div class="vendedor__form-tabs">
          <div class="d-flex w-100 align-items-start">
              <div
              class="tab"
              [class.active]="section === 1"
              (click)="tab(1)">
              Datos del Vendedor
            </div>
        </div>

        <div class=" vendedor__data-form row" [class.active]="section === 1">
          <div class="row">
            <h3 class="subtitle col-md-8">Datos</h3>



          </div>
            <div class="vendedor__data-form__section1 col-12 col-md-6">
              <div class="form-label">
                <label for="cliente">Nombre</label>
                <input
                class="form-control"
                  type="text"
                  name="nombre"
                  required
                  [(ngModel)]="vendedor.vendedor"
                  #inputProvForm
                  disabled
                />
              </div>
              <div class="form-label">
                <label for="contacto">Contacto</label>
                <input
                  class="form-control"
                  type="text"
                  name="contacto"
                  required
                  #inputProvForm
                  disabled
                />
              </div>
            </div>
            <div class="vendedor__data-form__section2 col-12 col-md-6">
              <div class="form-label">
                <label for="comercial">Sector</label>
                <input
                  class="form-control"
                  type="text"
                  name="comercial"
                  required
                  #inputProvForm
                  disabled
                />
              </div>
              <div class="form-label">
                <label for="correo">Correo</label>
                <input
                  class="form-control"
                  type="text"
                  name="correo"
                  id="correo"
                  required
                  #inputProvForm
                  disabled
                 />
                </div>
                <div class="row justify-content-end">
                <div class="col-md-3">
                  <button class=" general-btn"  (click)="activarCampos()"
                  type="button">Editar</button>
                </div>
                <div  class="col-md-3 ">
                  <button class=" search-btn  text-center"
                type="submit">Guardar</button>
                 </div>
                </div>
              </div>
            </div>

          </div>
      </form>


    </div>
</div>
