<div class="container-fluid mt-3">
  <div class=" text-center col mt-3 mb-3">
    <p class="borde-left text-one-sub f18">CATEGORIAS</p>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-12 col-md-4 mb-3" *ngFor="let categoria of Categorias">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title mt-1">{{categoria.Categoria}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="marcadores container">
              <div class="col text-center mb-2">
                <h1 class="text-white">JORNADA 1</h1>
              </div>
              <!-- PARTIDO 1 -->
            <div class="row text-center par mb-1">

              <!-- Equipo Local -->
              <div class="col-5">
                <img  [src]="imagen" class="rounded float-start imagen-equipo" alt="...">
                <span class="puntaje-local my-3">23</span>
              </div>
              <!-- "vs" -->
              <div class="col-2 text-center vs mt-2">
                VS
              </div>
              <!-- Equipo Visitante -->
              <div class="col-5">
                  <span class="puntaje-visitante">10</span>
                  <img  [src]="imagen" class="rounded float-end imagen-equipo" alt="...">
              </div>
            </div>
              <!-- PARTIDO 2 -->
              <div class="row text-center par mb-1">

                <!-- Equipo Local -->
                <div class="col-5">
                  <img  [src]="imagen" class="rounded float-start imagen-equipo" alt="...">
                  <span class="puntaje-local my-3">23</span>
                </div>
                <!-- "vs" -->
                <div class="col-2 text-center vs mt-2">
                  VS
                </div>
                <!-- Equipo Visitante -->
                <div class="col-5">
                    <span class="puntaje-visitante">10</span>
                    <img  [src]="imagen" class="rounded float-end imagen-equipo" alt="...">
                </div>
              </div>
                <!-- PARTIDO 3 -->
            <div class="row text-center par mb-1">

              <!-- Equipo Local -->
              <div class="col-5">
                <img  [src]="imagen" class="rounded float-start imagen-equipo" alt="...">
                <span class="puntaje-local my-3">23</span>
              </div>
              <!-- "vs" -->
              <div class="col-2 text-center vs mt-2">
                VS
              </div>
              <!-- Equipo Visitante -->
              <div class="col-5">
                  <span class="puntaje-visitante">10</span>
                  <img  [src]="imagen" class="rounded float-end imagen-equipo" alt="...">
              </div>
            </div>

          </div>
          <p class="edad text-white">Edades de: {{categoria.EdadMinima}} a {{categoria.EdadMaxima}} años</p>
        </mat-card-content>

        <mat-card-actions>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-block btn-outline-warning" (click)="openModal()">Ver más</button>
          </div>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>


  </div>


 <!-- MODAL -->
<div class="modal  shadow-card " [class.is-active]="isModalOpen">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-0">
        <h1 class="modal-title pb-0 mb-0 ms-2" id="staticBackdropLabel">INICIACION 5-6</h1>
        <a type="button" class="btn me-2 p-0 x" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
        <div class="d-grid gap-4 m-3 pe-2 ps-2 ">
          <button (click)="partidos()" class="btn btn-outline-warning" type="button">Partidos</button>
          <button class="btn btn-outline-warning" type="button">Bateo</button>
          <button class="btn btn-outline-warning" type="button">Estadisticas</button>
        </div>

    </div>
  </div>
</div>

