//TITULO
.f18 {
  font-weight: 600;
  font-size: 26px;
}

.borde-left {
  border-left: 3px #28A745 solid;
  border-right: 3px #28A745 solid;
}

.example-card {
  background-color: #24923d;
  border-radius: 20px;
  transition: background-color 0.9s, box-shadow 0.3s; transform: 0.8s; /* Agrega una transición suave */

  /* Estilo de sombra inicial */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}


.example-card:hover {
  background-color: #1b2c1e;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.274); /* Cambia la sombra en hover */
  transform: scale(1.02);
  border: 0.7px solid rgba(85, 82, 82, 0.836);

}




//MARCADORES
.marcadores{
  transition:transform 0.7s;

}

.marcadores:hover {
  transform: scale(1.04);

}

.example-header-image {
  background-image: url('http://www.ligayucatan.org/assets/logos/logo.png');
  background-size: cover;
}



.card-title{
  color: aliceblue;
}


// -------------------------
/* Estilos para los equipos y puntajes */
.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

}

.imagen-equipo {
  width: 47px; /* Ajusta el tamaño de la imagen del equipo */
  height: 47px; /* Ajusta el tamaño de la imagen del equipo */
  border-radius: 50%; /* Crea una imagen circular */
  margin-top: 10px;
  margin-bottom: 10px;
}

.puntaje-local,
.puntaje-visitante {
  font-size: 34px; /* Ajusta el tamaño del puntaje */
  font-weight: bold;
  color: #f3ebeb; /* Cambia el color del puntaje */
}

.vs {
  font-size: 24px; /* Ajusta el tamaño de "vs" */
  font-weight: bold;
  color: #2fbb0c; /* Cambia el color de "vs" para resaltarlo */
}



.card-title {
  font-size: 18px; /* Ajusta el tamaño del título de la tarjeta */
  font-weight: bold;
}

.par{
  background-color: #3a3b3234;
  border-radius: 10px;
  cursor: pointer;
}
.par:hover{
  background-color: #788f1398;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.274); /* Cambia la sombra en hover */

}



/* Estilo para el modal */
.modal {
  border-radius: 20px; /* Agrega bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

.modal-content{
  background-color: rgb(42, 44, 44);
}

/* Estilo para el título del modal */
.modal-title {
 font-size: 25px;
 font-weight: 600;
}

.modal-header{
  color: #f3ebeb;
}

/* Estilo para los botones */
.btn {
  font-size: 16px; /* Aumenta el tamaño de fuente de los botones */
  padding: 10px 20px; /* Aumenta el espacio alrededor de los botones */
  margin-right: 10px; /* Agrega espacio entre los botones */
}
 .x{
  color: whitesmoke;
  font-size: 32px;

 }


//  MEDIA
@media screen and (max-width:768px){

  .example-card {
    background-color: #35099b;
  }
}

@media screen and (min-width:769PX){

 .marcadores{
  padding: 2px 42px;
 }
}
