

@media screen and (min-width:992){
  .example-card {
    max-width: 300px;
  }
}

.example-header-image {
  background-image: url('http://www.ligayucatan.org/assets/logos/logo.png');
  background-size: cover;
}



.card-title{
  color: aliceblue;
}


// -------------------------
/* Estilos para los equipos y puntajes */
.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.imagen-equipo {
  width: 47px; /* Ajusta el tamaño de la imagen del equipo */
  height: 47px; /* Ajusta el tamaño de la imagen del equipo */
  border-radius: 50%; /* Crea una imagen circular */
  margin-top: 10px;
  margin-bottom: 10px;
}

.puntaje-local,
.puntaje-visitante {
  font-size: 34px; /* Ajusta el tamaño del puntaje */
  font-weight: bold;
  color: #f3ebeb; /* Cambia el color del puntaje */
}

.vs {
  font-size: 24px; /* Ajusta el tamaño de "vs" */
  font-weight: bold;
  color: #2fbb0c; /* Cambia el color de "vs" para resaltarlo */
}



.card-title {
  font-size: 18px; /* Ajusta el tamaño del título de la tarjeta */
  font-weight: bold;
}


//TITULO
.f18 {
  font-weight: 700;
  font-size: 28px;
}

.borde-left {
  border-left: 3px #28A745 solid;
  border-right: 3px #28A745 solid;
}


/* Estilo para el modal */
.modal {
  border-radius: 20px; /* Agrega bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

.modal-content{
  background-color: rgb(42, 44, 44);
}

/* Estilo para el título del modal */
.modal-title {
 font-size: 25px;
 font-weight: 600;
}

.modal-header{
  color: #f3ebeb;
}

/* Estilo para los botones */
.btn {
  font-size: 16px; /* Aumenta el tamaño de fuente de los botones */
  padding: 10px 20px; /* Aumenta el espacio alrededor de los botones */
  margin-right: 10px; /* Agrega espacio entre los botones */
}
 .x{
  color: whitesmoke;
  font-size: 32px;

 }
