<div class="orders-cart__modal">
  <button
    class="orders-cart__modal__close"
    (click)="useToggleModalVisibility()"
  >
    <i class="fas fa-times"></i>
  </button>
  <div class="orders-modal__client" *ngIf="selectClientModal">
    <h3 class="title text-center">¿Para qué cliente es el pedido?</h3>
    <!-- Autocomplete de clientes -->
    <div class="ng-autocomplete">
      <ng-autocomplete
        [data]="clients"
        [searchKeyword]="keyword"
        placeholder="Busca y selecciona el cliente"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        [minQueryLength]="3"
        [historyListMaxNumber]="10"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <!-- Termina Autocomplete -->
    <div class="orders-cart__client__buttons mt-auto">
      <button
        class="orders-cart__client__btn-cancel"
        (click)="useToggleModalVisibility()"
      >
        Cancelar
      </button>
      <button
        class="orders-cart__client__btn-confirm"
        (click)="confirmClient()"
      >
        Confirmar
      </button>
    </div>
  </div>
  <div class="orders-modal__adresses" *ngIf="selectAdressModal">
    <h3 class="title text-center">Selecciona una dirección</h3>
    <div class="orders-cart__adresses-container">
      <div class="orders-cart__adresses-list">
        <div class="orders-cart__adress" *ngFor="let adress of adresses">
          <label>
            <input
              type="radio"
              name="adress"
              [(ngModel)]="adressSelected"
              [value]="adress"
            />
            {{ adress.street }}, {{ adress.city }}
          </label>
        </div>
      </div>
    </div>
    <span class="orders-cart__adresses-add" (click)="openCreateAdress()"
      >Añadir una dirección</span
    >
    <div class="orders-cart__adress__buttons mt-auto">
      <button
        class="orders-cart__adress__btn-cancel"
        (click)="  backToClientModal()"
      >
        Regresar
      </button>
      <button
        class="orders-cart__adress__btn-submit"
        type="submit"
        [disabled]="!adressSelected"
        [routerLink]="['/pedidos-realizados']"
        (click)="consoleLog()"
      >
        Confirmar
      </button>
    </div>
  </div>
  <div class="orders-modal__form bg-light rounded p-3"
    *ngIf="createAdressModal"
  >
    <h3 class="title text-center mt-3">Añadir una dirección nueva</h3>
    <form
      class="d-flex flex-column container"
      #createAddress="ngForm"
      (ngSubmit)="createAdress(createAddress)"
    >
      <div class="row justify-content-between">
        <div class="col-6">
          <label for="country">País:</label>
          <input
            class="form-control"
            type="text"
            id="country"
            name="country"
            required
            [(ngModel)]="newAdress.country"
          />
        </div>
        <div class="col-6">
          <label for="state">Estado:</label>
          <input
            class="form-control"
            type="text"
            id="state"
            name="state"
            required
            [(ngModel)]="newAdress.state"
          />
        </div>
      </div>
      <div class="">
        <div>
          <label for="city">Ciudad:</label>
          <input
            class="form-control"
            type="text"
            id="city"
            name="city"
            required
            [(ngModel)]="newAdress.city"
          />
        </div>
        <div>
          <label for="colony">Colonia:</label>
          <input
            class="form-control"
            type="text"
            id="colony"
            name="colony"
            required
            [(ngModel)]="newAdress.colony"
          />
        </div>
      </div>
      <div class="">
        <div>
          <label for="street">Calle y Número:</label>
          <input
            class="form-control"
            type="text"
            id="street"
            name="street"
            required
            [(ngModel)]="newAdress.street"
          />
        </div>
        <div>
          <label for="zipcode">Código Postal:</label>
          <input
            class="form-control"
            type="text"
            id="zipcode"
            name="zipcode"
            required
            [(ngModel)]="newAdress.zipcode"
          />
        </div>
      </div>
      <div class="row justify-content-between my-3">
        <button
          class="btn btn-danger col-5"
          type="reset"
          (click)="cancelCreateAdress()"
        >
          Cancelar
        </button>
        <button class="btn btn-primary col-5" type="submit">
          Crear dirección
        </button>
      </div>
    </form>
  </div>
</div>
