<div class="orders-cart__modal">
  <button
    class="orders-cart__modal__close"
    (click)="useToggleModalVisibility()"
  >
    <i class="fas fa-times"></i>
  </button>
  <div class="orders-modal__client" *ngIf="selectClientModal">
    <h3 class="title text-center">¿Para qué cliente es el pedido?</h3>
    <!-- Autocomplete de clientes -->
    <div class="ng-autocomplete">
      <ng-autocomplete
        [data]="clients"
        [searchKeyword]="keyword"
        placeholder="Busca y selecciona el cliente"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        [minQueryLength]="3"
        [historyListMaxNumber]="10"
      >
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <!-- Termina Autocomplete -->
    <div class="orders-cart__client__buttons mt-auto">
      <button
        class="orders-cart__client__btn-cancel"
        (click)="useToggleModalVisibility()"
      >
        Cancelar
      </button>
      <button
        class="orders-cart__client__btn-confirm"
        (click)="confirmClient()"
      >
        Confirmar
      </button>
    </div>
  </div>
  <div class="orders-modal__addresses" *ngIf="selectAddressModal">
    <h3 class="title text-center">Selecciona una dirección</h3>
    <div class="orders-cart__addresses-container">
      <div class="orders-cart__addresses-list">
        <div class="orders-cart__address" *ngFor="let address of addresses">
          <label>
            <input
              type="radio"
              name="address"
              [(ngModel)]="addressSelected"
              [value]="address"
            />
            {{ address.street }}, {{ address.colony }}, {{ address.city }}
          </label>
        </div>
      </div>
    </div>
    <span class="orders-cart__addresses-add" (click)="openCreateAddress()"
      >Añadir una dirección</span
    >
    <div class="orders-cart__address__buttons mt-auto">
      <button
        class="orders-cart__address__btn-cancel"
        (click)="backToClientModal()"
      >
        Regresar
      </button>
      <button
        class="orders-cart__address__btn-submit"
        type="submit"
        [disabled]="!addressSelected"
        [routerLink]="['/pedidos-realizados']"
        (click)="consoleLog()"
      >
        Confirmar
      </button>
    </div>
  </div>
  <div class="orders-modal__form bg-light rounded p-3" *ngIf="createAddressModal">
    <h3 class="title text-center mt-3">Añadir una dirección nueva</h3>
    <form
      class="d-flex flex-column container"
      #createAddress="ngForm"
      (ngSubmit)="createNewAddress(createAddress)"
    >
      <div class="orders-modal__address-form row">
        <div class="orders-modal__address-form__section1 col-12 col-md-6">
          <div>
            <label for="name">Nombre</label>
            <input
              class="form-control"
              type="text"
              name="name"
              id="name"
              required
              [(ngModel)]="newAddress.name"
            />
          </div>
          <div>
            <label for="street">Calle</label>
            <input
              class="form-control"
              type="text"
              name="street"
              id="street"
              required
              [(ngModel)]="newAddress.street"
            />
          </div>
          <div>
            <label for="numInt">Número Interior</label>
            <input
              class="form-control"
              type="text"
              name="numInt"
              id="numInt"
              required
              [(ngModel)]="newAddress.numInt"
            />
          </div>
          <div>
            <label for="numExt">Número Exterior</label>
            <input
              class="form-control"
              type="text"
              name="numExt"
              id="numExt"
              required
              [(ngModel)]="newAddress.numExt"
            />
          </div>
          <div>
            <label for="cross">Cruzamiento 1</label>
            <input
              class="form-control"
              type="text"
              name="cross"
              id="cross"
              required
              [(ngModel)]="newAddress.cross"
            />
          </div>
          <div>
            <label for="cross2">Cruzamiento 2</label>
            <input
              class="form-control"
              type="text"
              name="cross2"
              id="cross2"
              required
              [(ngModel)]="newAddress.cross2"
            />
          </div>
        </div>
        <div class="orders-modal__address-form__section2 col-12 col-md-6">
          <div>
            <label for="colony">Colonia</label>
            <input
              class="form-control"
              type="text"
              name="colony"
              id="colony"
              required
              [(ngModel)]="newAddress.colony"
            />
          </div>
          <div>
            <label for="city">Ciudad</label>
            <input
              class="form-control"
              type="text"
              name="city"
              id="city"
              required
              [(ngModel)]="newAddress.city"
            />
          </div>
          <div>
            <label for="municipality">Municipio</label>
            <input
              class="form-control"
              type="text"
              name="municipality"
              id="municipality"
              required
              [(ngModel)]="newAddress.municipality"
            />
          </div>
          <div>
            <label for="state">Estado</label>
            <input
              class="form-control"
              type="text"
              name="state"
              id="state"
              required
              [(ngModel)]="newAddress.state"
            />
          </div>
          <div>
            <label for="zipcode">Código Postal</label>
            <input
              class="form-control"
              type="text"
              name="zipcode"
              id="zipcode"
              required
              [(ngModel)]="newAddress.zipcode"
            />
          </div>
          <div>
            <label for="location">Localización</label>
            <input
              class="form-control"
              type="text"
              name="location"
              id="location"
              required
              [(ngModel)]="newAddress.location"
            />
          </div>
        </div>
      </div>
      <div class="row justify-content-between my-3">
        <button
          class="btn btn-danger col-5"
          type="reset"
          (click)="cancelCreateAddress()"
        >
          Cancelar
        </button>
        <button class="btn btn-primary col-5" type="submit">
          Crear dirección
        </button>
      </div>
    </form>
  </div>
</div>
