<div class="almacenes container-fluid row">
  <div class="almacenes-container">
    <h1 class="text-center title m-0">Almacenes</h1>

    <!-- Barra de Busqueda -->
      <div class="almacenes__search-bar">
        <div class="d-flex flex-column">
          <input class="search-input" type="text" placeholder="Buscar almacen" aria-label="Buscar Almacen" data-toggle="tooltip"  title="Buscar almacen"
            aria-describedby="button-addon2" [formControl]="searchAlmacenControl" />
          <div class="d-flex w-100 justify-content-center p-2 border" *ngIf="noAlmacen">
            <h4>No se encontro el almacen</h4>
          </div>
          <div class="search-loader" *ngIf="loader; else almacenesReady">
            <i class="fa fa-spinner fa-pulse"></i>
          </div>
          <ng-template #almacenesReady>
            <ul class="search-list" *ngIf="searchList">
              <li class="search-list__element" *ngFor="let almacen of autocompleteAlmacen"
                (click)="seleccionarAlmacen(almacen.id_almacen)">
                {{ almacen.almacen }}
              </li>
            </ul>
          </ng-template>
        </div>


        <button *ngIf="almacen.id_almacen && almacen.almacen" type="button" class="btn btn-success act" data-toggle="tooltip" title="Activar/Desactivar"
          (click)="activarAlmacen(almacen.id_almacen, almacen.activo)">ACTIVO
        </button>

        <button type="button" class="add-btn text-center" data-toggle="tooltip" title="Agregar almacen" (click)="agregarNvoAlmacen()">
          Agregar almacen
        </button>
      </div>


    <div id="form-almacenes">
      <form class="almacen__form" #almaForm="ngForm" (ngSubmit)="guardarAlmacen(almaForm)">
        <div class="almacen__form-tabs">
          <div class="d-flex w-100 align-items-start">
            <div class="tab" [class.active]="section === 1">
              Datos del almacen
            </div>
          </div>
          <div class="almacen__data-form row">

            <div class="almacen__data-form__section1 col-12 col-md-6">
              <div class="form-label">
                <label for="cliente">Descripcion del almacen</label>
                <input class="form-control" type="text" name="cliente" id="cliente" required
                  [(ngModel)]="almacen.almacen" #inputProvForm disabled />
              </div>

              <div class="form-label">
                <label for="descripcion">Descripcion domicilio</label>
                <input class="form-control" type="text" name="descripcion" required
                  [(ngModel)]="almacen.domicilio.descripcion" #inputProvForm disabled />
              </div>
              <div class="form-label">
                <label for="calle">Calle</label>
                <input class="form-control" type="text" name="calle" id="calle" required
                  [(ngModel)]="almacen.domicilio.calle" #inputProvForm disabled />
              </div>

              <div class="row">
                <div class="form-label col-md-6">
                  <label for="numero_exterior">Numero exterior</label>
                  <input class="form-control" type="text" name="numero_exterior" id="numero_exterior" required
                    [(ngModel)]="almacen.domicilio.numero_exterior" #inputProvForm disabled />
                </div>
                <div class="form-label col-md-6">
                  <label for="numero_interior">Numero interior</label>
                  <input class="form-control" type="text" name="numero_interior" id="numero_interior" required
                    [(ngModel)]="almacen.domicilio.numero_interior" #inputProvForm disabled />
                </div>
              </div>
              <div class="row">
                <div class="form-label col-md-6">
                  <label for="cruzamiento_uno">Cruzamiento 1</label>
                  <input class="form-control" type="text" name="cruzamiento_uno" id="cruzamiento_uno" required
                    [(ngModel)]="almacen.domicilio.cruzamiento_uno" #inputProvForm disabled />
                </div>
                <div class="form-label col-md-6">
                  <label for="cruzamiento_dos">Cruzamiento 2</label>
                  <input class="form-control" type="text" name="cruzamiento_dos" id="cruzamiento_dos" required
                    [(ngModel)]="almacen.domicilio.cruzamiento_dos" #inputProvForm disabled />
                </div>
              </div>
            </div>

            <div class="almacen__data-form__section1 col-12 col-md-6">
              <div class="form-label">
                <label for="codigo_postal">Codigo postal</label>
                <input class="form-control" type="number" name="codigo_postal" id="codigo_postal" required
                  [(ngModel)]="almacen.domicilio.codigo_postal" #inputProvForm disabled />
              </div>
              <div class="form-label">
                <label for="colonia">Colonia</label>
                <input class="form-control" type="text" name="colonia" id="colonia" required
                  [(ngModel)]="almacen.domicilio.colonia" #inputProvForm disabled />
              </div>
              <div class="form-label">
                <label for="localidad">Localidad</label>
                <input class="form-control" type="text" name="localidad" id="localidad" required
                  [(ngModel)]="almacen.domicilio.localidad" #inputProvForm disabled />
              </div>
              <div class="form-label">
                <label for="municipio">Municipio</label>
                <input class="form-control" type="text" name="municipio" id="municipio" required
                  [(ngModel)]="almacen.domicilio.municipio" #inputProvForm disabled />
              </div>
              <div class="form-label">
                <label for="estado">Estado</label>
                <input class="form-control" type="text" name="estado" id="estado" required
                  [(ngModel)]="almacen.domicilio.estado" #inputProvForm disabled />
              </div>
            </div>

            <div class="d-flex flex-column mt-3 p-3 border rounded" *ngIf="isAlmacenSelected">
              <h3 class="subtitle mb-1">Dirección</h3>
              <p>{{almacen.direccion}}</p>
            </div>
            <div class="mt-6 w-100 row justify-content-end">
              <div>
                <button class="mr-3 general-btn" (click)="editar()" type="button" data-toggle="tooltip" title="Editar" *ngIf="isAlmacenSelected">
                  Editar
                </button>
              </div>
              <div>
                <button class="search-btn text-center" type="submit"data-toggle="tooltip" title="Guardar" >Guardar</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
