<div class="container p-2">

  <!-- FORMULARIO -->
  <div class="shadow container">
    <form class="form-group" #productForm="ngForm" (ngSubmit)="guardarArticulo(productForm)">
      <div class="row">

        <div class="col-md-12 mb-4">
          <h1 class="mb-4 mt-2 title text-center">Nuevo Producto</h1>
        </div>
        <div id="dah" class="row">
          <div class="col-md-2">
            <button data-toggle="tooltip" title="Regresar" type="button" class="btn btn-atras" [routerLink]="['/sis_koonol/catalogos/']">
              <i class="bi bi-arrow-left-circle-fill"></i>
            </button>
          </div>

        </div>

        <div class="col">

          <div id="producto" class="row text-center">
            <div class="col-md-3">
              <label for="inputNombre">Nombre</label>
              <input type="text" class="form-control" name="articulo" id="inputNombre" required
                placeholder="Producto..." [(ngModel)]="item.articulo" />
            </div>
            <div class="col-md-3">
              <label class="label-label" for="inputFamilia">Familia</label>
              <select type="text" class="form-control" title="familia" name="familia" placeholder="..."
                [(ngModel)]="item.id_familia">
                <option name="familia" value={{familia.id_familia}} *ngFor="let familia of familias">
                  {{familia.familia}}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="label-label" for="inputAlmacen">Almacen</label>
              <select type="text" class="form-control" title="alamacen" name="alamacen" placeholder="..."
                [(ngModel)]="item.id_almacen">
                <option name="alamcen" value={{almacen.id_almacen}} *ngFor="let almacen of almacenes">
                  {{almacen.almacen}}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="label-label" for="inputFamilia">Medidas</label>
              <select type="text" class="form-control" title="medida" name="medida" placeholder="..."
                [(ngModel)]="item.id_medida">
                <option name="medida" value={{medida.id_medida}} *ngFor="let medida of medidas">
                  {{medida.medida}}
                </option>
              </select>
            </div>
          </div>

          <div id="precio" class="row text-center">
            <div class="col-md-2">
              <label for="inputPrecio">Precio venta</label>
              <input type="number" class="form-control" name="precio_venta" id="inputPrecio" placeholder="..." required
                [(ngModel)]="item.precio_venta" (change)="calcularPrecioMasIva()" />
            </div>
            <div class="col-md-1">
              <label for="inputFamilia">% IVA</label>
              <input type="numero" name="IVA" class="form-control" id="inputFamilia" placeholder="..." required
                [(ngModel)]="item.tasa_iva" (change)="calcularPrecioMasIva()" />
            </div>
            <div class="col-md-2">
              <label for="inputFamilia">% Descuento</label>
              <input type="numero" name="descuento1" class="form-control" id="inputFamilia" placeholder="..." required
                [(ngModel)]="item.descuento1" (change)="calcularPrecioMasIva()" />
            </div>
            <div class="col-md-2">
              <label for="inputFamilia">% Descuento</label>
              <input type="text" class="form-control" id="inputFamilia" name="descuento2" placeholder="..."
                [(ngModel)]="item.descuento2" (change)="calcularPrecioMasIva()" />
            </div>
            <div class="col-md-2">
              <label for="inputFamilia">% Descuento</label>
              <input type="text" class="form-control" name="descuento3" id="inputFamilia" placeholder="%"
                [(ngModel)]="item.descuento3" (change)="calcularPrecioMasIva()" />
            </div>
            <div id="precioFinal" class="col-md-3">
              <label><b>Precio final </b></label>
              <span> {{precioMasIva | number:'1.2-2'}}</span>
            </div>
          </div>

          <div id="existencias" class="row text-center align-items-center justify-content-center d-flex">
            <div class="col-md-3">
              <label for="inputFamilia">Mínimo</label>
              <input type="text" class="form-control" name="itemMinimo" id="inputFamilia" placeholder="..."
                [(ngModel)]="item.minimo" />
            </div>
            <div class="col-md-3">
              <label for="inputFamilia">Máximo</label>
              <input type="text" class="form-control" name="itemMaximo" id="inputFamilia" placeholder="..."
                [(ngModel)]="item.maximo" />
            </div>
            <div class="col-md-3">
              <label for="inputFamilia">Reorden</label>
              <input type="text" class="form-control" name="itemReorden" id="inputFamilia" placeholder="..."
                [(ngModel)]="item.reorden" />
            </div>
            <div class="col-md-3">
              <label for="inputCodigo">Código de barras</label>
              <input type="text" class="form-control" name="itemCodigoBarras" placeholder="..."
                [(ngModel)]="item.codigo_barras" />
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!item.id_existencia" class="row">
        <div class="col-md-6 mb-4">

          <!-- IMAGEN PRINCIPAL -->
          <div class="mt-4 d-flex flex-column align-items-center justify-content-center">
            <div *ngIf="uploadedImages.length > 0" class="text-center mp-3">
              <img class="img-fluid shadow" [src]="imgResultAfterResize" alt="Imagen comprimida" [style.width.px]="250"
                [style.height.px]="250" />
            </div>
            <div *ngIf="uploadedImages.length === 0 " class="text-center mp-3">
              <img class="img-fluid shadow" src="assets\img\imgK.png" alt="Imagen de muestra"
                [style.width.px]="250" [style.height.px]="250" />
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">


          <!-- MINIATURAS -->
          <div class="d-flex flex-row justify-content-center">
            <div *ngFor="let image of uploadedImages; let i = index" class="mb-2">
              <img style="cursor: pointer;" class="img-thumbnail" [src]="image" alt="miniatura" [style.width.px]="75"
                [style.height.px]="75" (click)="displayImage(i)" />
              <button class="btn btn-sm cancel-btn  translate-middle " id="xImage" (click)="removeImage(i + 1)"><i
                  class="fa fa-times-circle"></i></button>
            </div>
          </div>
          <div class="row">
            <button type="button" class="mr-1 btn search-btn" (click)="uploadAndResize()"
              [disabled]="imageCount >= 5">Subir imagen</button>
            <button data-toggle="tooltip" title="Guardar" type="submit" class=" btn general-btn">Guardar</button>
          </div>
        </div>
      </div>


      <!-- //PARA EDITAR ARTICULOS -->
      <div  *ngIf="item.id_existencia" class="row">
        <div class="col-md-6 mb-4">

          <!-- IMAGEN PRINCIPAL -->
          <div class="mt-4 d-flex flex-column align-items-center justify-content-center">
            <div *ngIf="uploadedImages.length > 0" class="text-center mp-3">
              <img class="img-fluid shadow" [src]="imgResultAfterResize.fotografia || imgResultAfterResize" alt="Imagen comprimida" [style.width.px]="300"
                [style.height.px]="300" />
            </div>
            <div *ngIf="uploadedImages.length === 0 " class="text-center mp-3">
              <img class="img-fluid shadow" src="assets\img\imgK.png" alt="Imagen de muestra"
                [style.width.px]="300" [style.height.px]="300" />
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">


          <!-- MINIATURAS -->
          <div class="d-flex flex-row justify-content-center">
            <div *ngFor="let image of uploadedImages; let i = index" class="mb-2">
              <img style="cursor: pointer;" class="img-thumbnail" [src]="image.fotografia || image" alt="miniatura" [style.width.px]="75"
                [style.height.px]="75" (click)="displayImage(i)" />
              <button class="btn btn-sm cancel-btn  translate-middle " id="xImage" (click)="removeImage(i + 1)"><i
                  class="fa fa-times-circle"></i></button>
            </div>
          </div>
          <div class="row">
            <button type="button" class="mr-1 btn search-btn" (click)="uploadAndResize()"
              [disabled]="imageCount >= 5">Subir imagen</button>
            <!-- <button type="submit" class=" btn general-btn">Guardar</button> -->
            <button type="button" class=" btn general-btn" (click)="guardarFotos(item.id_articulo)" (click)="guardarArticulo(productForm)">Guardar foto</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
