<article class="orders-placed__container">
  <h3 class="orders-placed__title">PEDIDOS REALIZADOS</h3>
  <div class=" orders-placed__order">
    <div class=" orders-placed__order__section1">
      <div class="orders-placed__order__section1--subsection1">
        <p>Julio Enrique Méndez Hernández</p>
        <span>Vendido por: Un vendedor</span>
        <span><b>Ruta:</b> La gran ruta</span>
      </div>
      <div class="orders-placed__order__section1--subsection2">
        <span (click)="toggleModalVisibility()">Pedido ID</span>
      </div>
    </div>
    <div class="orders-placed__order__section2">
      <div class="orders-placed__order__section2--subsection1">
        <button class="btn btn-primary">Surtir</button>
        <button class="btn btn-danger">Facturar</button>
      </div>
      <div class="orders-placed__order__section2--subsection2">
        <span><b>Total: $102</b></span>
      </div>
    </div>
  </div>
  <div class="orders-placed__order">
    <div class="orders-placed__order__section1">
      <div class="orders-placed__order__section1--subsection1">
        <p>Julio Enrique Méndez Hernández</p>
        <span>Vendido por: Un vendedor</span>
        <span>Ruta: La gran ruta</span>
      </div>
      <div class="orders-placed__order__section1--subsection2">
        <span (click)="toggleModalVisibility()">Pedido ID</span>
      </div>
    </div>
    <div class="orders-placed__order__section2">
      <div class="orders-placed__order__section2--subsection1">
        <button>Surtir</button>
        <button>Facturar</button>
      </div>
      <div class="orders-placed__order__section2--subsection2">
        <span>Total: $102</span>
      </div>
    </div>
  </div>
  <div class="orders-placed__order">
    <div class="orders-placed__order__section1">
      <div class="orders-placed__order__section1--subsection1">
        <p>Julio Enrique Méndez Hernández</p>
        <span>Vendido por: Un vendedor</span>
        <span>Ruta: La gran ruta</span>
      </div>
      <div class="orders-placed__order__section1--subsection2">
        <span (click)="toggleModalVisibility()">Pedido ID</span>
      </div>
    </div>
    <div class="orders-placed__order__section2">
      <div class="orders-placed__order__section2--subsection1">
        <button>Surtir</button>
        <button>Facturar</button>
      </div>
      <div class="orders-placed__order__section2--subsection2">
        <span>Total: $102</span>
      </div>
    </div>
  </div>
  <div class="orders-placed__modal" *ngIf="modalVisibility">
    <button
      class="icon-btn"
      (click)="closeModal()"
    >
      <i class="fas fa-times"></i>
    </button>
    <div class="orders-placed__modal__order" *ngIf="orderVisibility">
      <h2 class="title text-center">PEDIDO</h2>
      <div class="orders-placed__modal__order__products">
        <article
          class="orders-placed__products__product"
          *ngFor="let item of items"
        >
          <div class="d-flex flex-row">
            <img
              [src]="item.imageUrl"
              alt="imagen de un producto"
              class="orders-placed__product__image"
            />
            <section class="d-flex flex-column">
              <span class="">{{ item.title }}</span>
              <span class="">{{ item.fam }}</span>
            </section>
          </div>
          <div class="orders-placed__product-price-box">
            <span class="orders-placed__product-price">${{ item.price }}</span>
          </div>
        </article>
      </div>
      <div class="orders-placed__buttons">
        <button class="general-btn" (click)="openEditOrderVisibility()">Editar</button>
        <button class="general-btn" (click)="toggleModalVisibility()">De acuerdo</button>
      </div>
    </div>
    <div class="orders-placed__modal__edit-order" *ngIf="editOrderVisibility">
      <h2 class="title text-center">EDITAR PEDIDO</h2>
      <div class="orders-placed__modal__order__products">
        <article
          class="orders-placed__products__product"
          *ngFor="let item of items"
        >
          <div class="d-flex flex-row">
            <img
              [src]="item.imageUrl"
              alt="imagen de un producto"
              class="orders-placed__product__image"
            />
            <section class="d-flex flex-column">
              <span class="">{{ item.title }}</span>
              <span class="">{{ item.fam }}</span>
              <section class="orders-modal__product__quantity__box">
                <div
                  class="btn-decrease"
                  [class.btn-quantity-off]="btnQuantityOff"
                  (click)="decreaseItemQuantity(item)"
                >
                  -
                </div>
                <p class="orders-modal__product__quantity">
                  {{ item.quantity }}
                </p>
                <div class="btn-increase"
                (click)="increaseItemQuantity(item)">
                  +
                </div>
              </section>
            </section>
          </div>
          <button
          class="orders-modal__product__btn-delete"    
          (click)="deleteProduct(item)" 
        >
          <i class="fas fa-trash" ></i>
        </button>
        </article>
      </div>
      <div class="orders-placed__buttons">
        <button class="general-btn" [routerLink]="['/catalogo']">Añadir más productos</button>
        <button class="general-btn" (click)="saveEditedOrder()">Guardar</button>
      </div>
    </div>
  </div>
</article>
