<div class="container shadow">
    <div class="col-4">
      <label for="exampleDataList" class="title form-label">Buscar Familia</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Familia...">
      <datalist id="datalistOptions">
        <option value="Cárnicos">
        <option value="Lácteos">
        <option value="Panificación">
        <option value="Salsas">
      </datalist>
    </div>
    <div class="m-1 d-md-flex justify-content-md-end">
      <button class="m-3 btn btn-primary" >Agregar Familia</button>
      </div>
<div class="container m-2">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0" *ngFor="let familia of familias" >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{familia.familia}} </h5>
          <p class="card-text">{{familia.id_comprador}}</p>
          <a href="#" class="mt-2 btn btn-primary">Editar</a>
        </div>
      </div>
    </div>



  </div>
