<div class="container shadow">
<h1 class="text-center title">FAMILIAS</h1>



<div class="routes__search-bar col col-md-6">
  <div class="d-flex">
    <input
      class="search-input"
      type="text"
      placeholder="Buscar familia"
      aria-label="Buscar famlia"
      aria-describedby="button-addon2"
      [(ngModel)]="searchText"
    />
    <button class="search-btn" type="button" >
      <i class="bi bi-search"> </i> BUSCAR
    </button>
  </div >
</div>

<div class=" d-md-flex justify-content-md-end" >
  <a type="button" class="m-2 btn general-btn" (click)="openModal()" >AGREGAR FAMILIA</a>
  </div>

  <div class="container m-2">
    <div class="row ">
      <div class="col-md-4 mb-3 mb-sm-0" *ngFor="let familia of familias">
        <div class="" *ngIf="familia.familia.toLowerCase().includes(searchText.toLowerCase())" >
         <div class="card">
        <div class="card-body">
          <h2 class="card-text"> <b>Nombre:</b> {{familia.familia | uppercase}} </h2>
          <h4 class="card-title"> <b>ID:</b> {{familia.id_familia }}</h4>
          <div class=" d-md-flex justify-content-md-end">
            <a style="cursor: pointer;" class="me-2 p-0btn btn-primary" (click)="openModal()" (click)="editarFamilia(familia)"><i class="bi bi-pencil-square"></i></a>

            <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle active="button"
          aria-pressed="true"
          (click)="deleteFamily(familia.id_familia)"
          style="
          --bs-btn-padding-y: .25rem;
         --bs-btn-padding-x: .5rem;
          --bs-btn-font-size: .65rem;">
            Desabilitar
          </button>
        </div>

      </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal " [class.is-active]="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 " id="staticBackdropLabel">Familias</h1>
        <a type="button" class="btn-close" (click)="closeModal()"></a>
      </div>
      <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarFamilia(f)" >
        <div class="modal-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id=""><b>Nueva familia</b></span>
            </div>
          </div>
          <div class="input-group">
            <input [(ngModel)]="familia.familia" name="familia" type="text" class="form-control" required >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn danger-btn" data-bs-dismiss="modal" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="btn general-btn"  >Guardar</button>
        </div>
      </form>

    </div>
  </div>
</div>



