<form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" class="form_login">
  <div class="field mb-4">
    <div class="control form-ctrl">
      <br>
      <input type="text" class="inputText" required="" formControlName = "usuario">
      <span class="floating-label">Ingresa tu usuario</span>
      <i class="fa-solid fa-user I-icon"></i>
    </div>
    <!-- <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Ingresa tu usuario" >
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div> -->
    <p class="help is-success is-hidden">Este usuario es valido</p>
  </div>
  <div class="field">
    <div class="control form-ctrl">
      <br>
      <input type="password" class="inputText" required="" formControlName = "password">
      <span class="floating-label">Ingresa tu contraseña</span>
      <i class="fa-solid fa-lock I-icon"></i>
    </div>
    <!-- <div class="control has-icons-left has-icons-right">
      <input class="input" type="password" placeholder="Ingresa tu contraseña" >
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div> -->
  </div>
  <div class="field">
      <label class="checkbox">
        <input type="checkbox">
        Recuerdame
      </label>
  </div>
  <div class="container">
    <div class="column has-text-centered">
      <button type="submit" class="btn-custom danger">Iniciar sesión <i class="fas fa-caret-right fa-lg ml-2 mt-1 hover_df"></i></button>
    </div>
  </div>
</form>
