<div class="container-fluid">
  <div class="container">
    <h1 class="title text-center">Visitas
      <hr> {{vendedorActual}}
    </h1>

    <!-- Barra de búsqueda -->
    <form class="form-inline  " (ngSubmit)="obtenerVisitas()">
      <div class=" mb-2 row">
        <div class="col-md-6 form-group">
          <div class="d-flex flex-column">
            <label for="cliente">Cliente</label>
            <input class="search-input" type="text" placeholder="Nombre / RFC" aria-label="Buscar cliente"
              title="Buscar cliente" aria-describedby="button-addon2" [formControl]="searchClientControl"
              (focus)="onFocusClientSearch()" />
            <div class="search-loader w-100" *ngIf="loader; else clientsReady">
              <i class="fa fa-spinner fa-pulse"></i>
            </div>
            <div class="d-flex w-100 justify-content-center p-2 border" *ngIf="noClients">
              <h4>No se encontraron clientes</h4>
            </div>
            <ng-template #clientsReady>
              <ul class="search-list" *ngIf="searchList">
                <li class="search-list__element" *ngFor="let client of autocompleteClients"
                  (click)="seleccionarCliente(client.id_cliente)" name="cliente">
                  {{ client.cliente }}
                </li>
              </ul>
            </ng-template>
          </div>
        </div>

        <div class="row ml-2 align-items-center justify-content-center w-100">
          <div class="row">
            <label class="col-12 d-flex justify-content-center mt-3"><b>Filtrar por fechas:</b></label>
            <div class="input-sm col-12 col-md-4 d-flex flex-column justify-content-center mt-2">
              <label for="fechaInicio">Fecha inicial</label>
              <input type="date" class="form-control" name="fechaInicio" [(ngModel)]="fechaInicio">
            </div>
            <div class="input-sm col-12 col-md-4 d-flex flex-column justify-content-center mt-2">
              <label for="fechaFinal">Fecha final</label>
              <input type="date" class="form-control" name="fechaFinal" [(ngModel)]="fechaFinal">
            </div>
            <div class="col-12 col-md-4 d-flex align-items-end">
              <button type="submit" class="mt-2 m-2 search-btn" [ngStyle]="{'height':'40px'}">Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Botón para agregar nuevas visitas -->
    <div class="row justify-content-end fixed-bottom mb-4 mr-4">
      <div class="col-auto">
        <button class="btn btn-success btn-lg rounded-circle" (click)="nuevaVisita()" title="Agregar nueva visita">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <!-- Mostrar visitas en tarjetas -->
    <div class="row mt-4">
      <div class="col-md-6" *ngFor="let visita of visitas">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row mb-2">
              <h3 class="card-title col">Cliente: <b>{{ visita.cliente }}</b></h3>
            </div>
            <p class="card-text"><b>Fecha visita: </b>{{ visita.fecha_visita }}</p>
            <p class="card-text"><b>Contacto:</b> {{ visita.contacto }}</p>
            <div class="row mt-2">
              <p class="card-text col">Siguiente visita:<b> {{ formatearFecha(visita.fecha_siguiente_visita) }}</b></p>
            </div>
          </div>
          <div class="row d-flex mb-2">
            <div class="col-6">
              <button class="search-btn btn-sm ml-2" (click)="realizarPedidoVisita(visita.id_visita)">Nuevo pedido</button>
            </div>
            <div class="col-6">
              <button type="button" class="general-btn btn-sm" data-toggle="modal" data-target="#editarModal"
              title="Editar Visita" (click)="abrirModalEditar(visita)">Editar visita</button>
            </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- MODAL VISITAS -->
<form class="modal fade" id="editarModal" #editarForm="ngForm" (ngSubmit)="guardarCambios(editarForm)" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Editar Visita</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Cliente:</strong> {{ editarVisita.cliente }}</p>
        <p><strong>Fecha visita:</strong> {{ editarVisita.fecha_visita }}</p>
        <p><strong>Contacto:</strong> {{ editarVisita.contacto }}</p>
        <div *ngIf="editandoNotas">
          <label for="notas">Notas:</label>
          <textarea class="form-control" id="notas" name="notas" [(ngModel)]="editarVisita.notas"></textarea>
        </div>
        <div *ngIf="editandoFecha">
          <label for="fechaSiguienteVisita">Fecha Siguiente Visita:</label>
          <input type="date" class="form-control" name="fechaSiguienteVisita"
            [(ngModel)]="editarVisita.fecha_siguiente_visita">
        </div>
      </div>
      <div class="modal-footer">
        <!-- Botones para guardar o cancelar los cambios -->
        <button type="button" class="danger-btn" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
        <button type="submit" class="search-btn">Guardar Cambios</button>
      </div>
    </div>
  </div>
</form>
