<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title text-center"> Nueva orden de compra </h1>
    </div>
    <div id="tabs" class="col-md-12 col-lg-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <!-- <a class="nav-link active" id="datos-tab" data-toggle="tab" href="#datos" role="tab" aria-controls="datos"
            aria-selected="true">Nueva orden</a> -->
        </li>
      </ul>
    </div>
    <div id="contenido" class="container-fluid rounded shadow">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="datos" role="tabpanel" aria-labelledby="datos-tab">


          <form #data="ngForm"  id="form_datos" class="m-3" >
            <div class="form-row">

              <!-- BUSCADOR DE PROVEEDORES -->
              <div class="form-group mt-2 col-md-4">
                <mat-form-field class="w-100">
                  <input
                  matInput placeholder="Proveedor" aria-label="State" [matAutocomplete]="auto" [formControl]="provCtrl">
                  <mat-autocomplete #auto="matAutocomplete"
                  (optionSelected)="provSelec($event)"
                  >
                    <mat-option *ngFor="let proveedor of provFiltrados | async"
                     [value]="proveedor.proveedor | uppercase"
                    [id]="proveedor"
                     >
                      <span>{{ proveedor.proveedor | uppercase }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>




              <!-- <div class="form-group mt-3 col-md-2">
                <input type="text" class="form-control text-center" disabled  value="ACTIVA">
                </div> -->
              <div class="form-group mt-3 col-md-3">
                <input [value]="fechaActual | date:'dd/MM/yyyy'" type="text" name="fecha_creacion" class="form-control">
              </div>
              <div class="form-group mt-3 col-md-3">
                <input [(ngModel)]="folio" name="folio" type="text" class="form-control" placeholder="FOLIO">
              </div>

              <!-- <div class="form-group mt-3 col-md-3">
                <select  [(ngModel)]="ordenCompra.status" name="status"
                 class="form-control">
                  <option selected>ACTIVO</option>
                  <option>ENTREGADO</option>
                </select>
              </div> -->



            </div>
            <div class="form-row">

              <div class="form-group col-md-3">
                <label for="status">FORMA DE PAGO</label>
                <select [(ngModel)]="ordenCompra.forma_pago" name="pago" class="form-control">
                  <option selected>CONTADO</option>
                  <option>CREDITO</option>
                </select>
              </div>

              <div *ngIf="ordenCompra.forma_pago !== 'CONTADO' " class="form-group col-md-2">
                <label
                 for="noCotización">Días de credito</label>
                <input [(ngModel)]="ordenCompra.dias_credito" name="credito"
                type="number" class="form-control">
              </div>
              <div class="form-group col-md-3">
                <label for="status">Moneda</label>
                <select (change)="monedaSelec($event)" name="moneda" class="form-control" [(ngModel)]="monDef" >
                  <option *ngFor="let moneda of monedas" [value]="moneda.id_moneda">{{moneda.moneda_sat}}</option>
                </select>
              </div>
              <div class=" form-group col-auto">
                <label for="" class="" >Tipo cambio</label>
                <input type="number" placeholder="$ 0.00"
                [(ngModel)]="ordenCompra.tipo_cambio" name="tipo_cambio"
                title="Ingresa el tipo de cambio"
                class="form-control"/>
              </div>

            </div>

            <div class="form-row">

              <div class="form-group col-md-4">
                <label for="status">Fecha entrega</label>
                <input [(ngModel)]="ordenCompra.fecha_entrega" name="fecha_entrega"
                type="date" class=" mt-2 form-control">
              </div>

              <div class="form-group col-md-8">
                <label for="noCotización">Observaciones</label>
                <textarea [(ngModel)]="ordenCompra.observaciones" name="observaciones"
                 placeholder="Describa sus observaciones" type="textarea" class="form-control"></textarea>
              </div>
            </div>
            <!-- <button class="btn btn-primary" (click)="guardar()" >Guardar Orden</button> -->
          </form>
            <!-- TABLA -->
          <form id="form_articulos" class="m-2">
            <div class="row">

            <div class="col-8">
              <button  type="button" class="search-btn" data-toggle="modal"
                data-target="#editarModal">Agregar producto</button>
            </div>
            <div class="col ">
              <button (click)="this.printOrden()" type="button" class=" general-btn">Imprimir orden</button>
            </div>
            <!-- <div class="col">
              <button type="button" class="general-btn" >Imprimir PDF 2</button>
            </div> -->
          </div>

              <h2 class="border-bottom  ml-2 mt-4">Lista de articulos</h2>

            <div class="table-responsive mt-4 ">
              <table class="custom-table" mat-table [dataSource]="transactions">

                <ng-container matColumnDef="producto">
                  <th mat-header-cell *matHeaderCellDef> Producto</th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.producto}} </td>
                </ng-container>

                <ng-container matColumnDef="uMedida">
                  <th mat-header-cell *matHeaderCellDef> U.M </th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.uMedida}} </td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
                </ng-container>

                <ng-container matColumnDef="pUnitario">
                  <th mat-header-cell *matHeaderCellDef> P.U </th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.pUnitario | currency }} </td>

                </ng-container>

                <ng-container matColumnDef="importe">
                  <th mat-header-cell *matHeaderCellDef> Importe </th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.importe | currency}}
                  </td>
                </ng-container>

                <ng-container  matColumnDef="acciones">

                  <th mat-header-cell *matHeaderCellDef> Acciones </th>

                  <td style="cursor: default;" mat-cell *matCellDef="let transaction">

                    <button data-toggle="modal" data-target="#editarModal" class="btn btn-sm btn-primary mr-2"
                      (click)="editarItem(transaction)"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                      <button class="btn btn-sm btn-danger"
                      (click)="borrarItem(transaction); $event.stopPropagation()">
                       <i class="fa fa-trash"aria-hidden="true"></i></button>
                    </td>
                    </ng-container>


                <tr class="ht" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr data-toggle="modal" data-target="#editarModal" (click)="editarItem(row)" mat-row
                  *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>


            <section *ngIf="transactions.length > 0" class="mb-3 pl-6 pt-2 ">
              <div class="col d-flex justify-content-end">
                <h3 class="total_name col-2">TOTAL: </h3><span class="total col-5">{{getTotalCost() | currency}}</span>
              </div>

              <div class="col d-flex justify-content-end">
                <h3 class="total_name col-2">IMPUESTOS: </h3><span class="total col-5">{{getTotalCost() |
                  currency}}</span>
              </div>

              <div class="col d-flex justify-content-end">
                <h3 class="total_name col-2">A PAGAR: </h3><span class="total col-5">{{getTotalCost() |
                  currency}}</span>
              </div>

              <div class="col d-flex justify-content-end">
                <h3 class="total_name col-2">DESCUENTOS: </h3><span class="total col-5">{{getTotalCost() |
                  currency}}</span>
              </div>
            </section>
            <div *ngIf="transactions.length === 0" class="row mb-4">
              <div class="col-10 offset-1 border-bottom text-center mt-2">
                <h2 style="color:rgba(35, 87, 117, 0.534)" >AÚN NO SE AGREGAN ARTICULOS A LA ORDEN DE COMPRA</h2>
              </div>
            </div>
            <div class="col d-flex justify-content-end ">
              <button (click)="cancelar()"  class="d-flex mr-3 danger-btn">
                Cancelar
              </button>
            <button (click)="guardar()" type="submit" class="search-btn">
              Confirmar
            </button>
          </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  </div>


 <!-- Modal para editar artículo -->
 <div  class="modal fade" #editarModal id="editarModal"  aria-hidden="true" data-backdrop="static" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="title mb-0 text-center">
          {{ editando ? 'Editar producto': 'Nuevo producto'}}
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row ">
            <div *ngIf="!this.editando" class="col">
            <mat-form-field class="w-100">
              <input
              matInput placeholder="Buscar producto..." aria-label="State" [matAutocomplete]="autoProduct2" [formControl]="productCtrl">
              <mat-autocomplete  #autoProduct2="matAutocomplete"
              (optionSelected)="productSelec($event)"
              >
                <mat-option *ngFor="let product of productFiltrados | async"
                 [value]="product.articulo_compuesto | uppercase"
                 [id]="product"
                 >
                  <span >{{ product.articulo_compuesto | uppercase }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
           </div>
           <div *ngIf="this.editando" class="col text-center border-bottom">
            <h2>{{articuloCompuesto}}</h2>
           </div>

          <!-- <div class="col-md-4 mt-3">
            <input [(ngModel)]="producto.medida"
            type="text" class="form-control" placeholder="Un.Medida">
          </div> -->

        </div>

        <div class="row mt-2">
          <div class=" col-3 pr-0 ">
            <p class="nom_cantidad mt-2" >Cantidad:</p>
          </div>
          <div class="col-3 text-center pl-0">
            <!-- <label for="" class="form-group" >Cantidad:</label> -->
            <input required [(ngModel)]="productoProveedor.cantidad" name="cantidad"
             type="number" class="nom_input form-control" placeholder="000"
             (ngModelChange)="recalcularTotal()">
          </div>
            <div class=" col-3 pr-0 text-center">
              <p class="nom_cantidad mt-2" >P.Unitario:</p>
            </div>
            <div class="col-3 text-center pl-0">
              <input [(ngModel)]="productoProveedor.precio_unitario" name="precio_unitario"
               type="number" class="nom_input form-control" placeholder="p.total"
               (ngModelChange)="recalcularTotal()">
            </div>
        </div>
        <div class="row mt-4">
          <div class=" col-3 pr-0 text-center">
            <p class="nom_cantidad2 mt-2" >IEPS:</p>
          </div>
          <div class="col-3 text-center pl-0">
            <input name="ieps" [(ngModel)]="productoProveedor.ieps" name="ieps"
             type="number" class="nom_input form-control" placeholder="ieps"
             (ngModelChange)="recalcularTotal()">
          </div>
          <div class=" col-3 pr-0 text-center">
            <p class="nom_cantidad2 mt-2" >IVA:</p>
          </div>
          <div class="col-3 text-center pl-0">
            <input  name="iva" [(ngModel)]="productoProveedor.tasa_iva" name="iva"
             type="number" class="nom_input form-control" placeholder="iva"
             (ngModelChange)="recalcularTotal()">
          </div>

        </div>

        <div class="row mt-4">

          <div class=" col-3 pr-0 text-center">
            <p class="nom_cantidad mt-2" >Descuentos:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-center">
            <label for="">Desc 1</label>
            <input [(ngModel)]="productoProveedor.descuento_1" name="descuento1"
             type="number" class="nom_input form-control" placeholder="desc1"
             (ngModelChange)="recalcularTotal()">
          </div>
          <div class="col-4 text-center">
            <label for="">Desc 2</label>
            <input [(ngModel)]="productoProveedor.descuento_2" name="descuento2"
             type="number" class="nom_input form-control" placeholder="desc2"
             (ngModelChange)="recalcularTotal()">
          </div>
          <div class="col-4 text-center">
            <label for="">Desc 3</label>
            <input [(ngModel)]="productoProveedor.descuento_3" name="descuento3"
             type="number" class="nom_input form-control" placeholder="desc3"
             (ngModelChange)="recalcularTotal()">
          </div>

        </div>
        <div class="row mt-4 justify-content-center">
          <div class=" col-3 pr-0 text-center">
            <p class="nom_total mt-2" >Total:</p>
          </div>
          <div class="col-4 text-center">
            <h3>{{total | currency}}</h3>
          </div>
        </div>

        </div>
      <div class="modal-footer">

        <button #cancelModal  (click)="cancelarEdit()" type="button" class="danger-btn" data-dismiss="modal">Cancelar</button>

        <button *ngIf="!this.editando" type="button" class="search-btn" (click)="agregarProducto()" >Agregar</button>
        <button *ngIf="this.editando" type="button" class="search-btn" (click)="guardarEdit()" >Actualizar</button>

      </div>
    </div>
  </div>
</div>
