<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title text-center">Ordenes de compra</h1>
    </div>
    <div id="tabs" class="col-md-12 col-lg-12">
      <ul class="nav nav-tabs"  role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="datos-tab" data-toggle="tab" href="#datos" role="tab" aria-controls="datos" aria-selected="true">Datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="articulos-tab" data-toggle="tab" href="#articulos" role="tab" aria-controls="articulos" aria-selected="false">Artículos</a>
        </li>
      </ul>
    </div>
    <div id="contenido" class="container-fluid rounded shadow">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="datos" role="tabpanel" aria-labelledby="datos-tab">
          <form id="form_datos" class="m-3">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="proveedor">Proveedor</label>
                <input type="text" class="form-control" placeholder="proveedor">
              </div>
              <div class="form-group col-md-4">
                <label for="destino">Destino</label>
                <input type="text" class="form-control"  placeholder="destino">
              </div>
              <div class="form-group col-md-4">
                <label for="status">Status</label>
                <select  class="form-control">
                  <option selected>Activo</option>
                  <option>Entregado</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="direccion">Dirección</label>
                <input type="text-area" class="form-control" placeholder="1234 calle Mid">
              </div>
              <div class="form-group col-md-2">
                <label for="noCotización">No.Cotización</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fechaSolo">Fecha de solicitud</label>
                <input type="date" class="form-control" >
              </div>
              <div class="form-group col-md-6">
                <label for="fechaEntrega">Fecha de entrega</label>
                <input type="date" class="form-control" >
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <a type="button"  href="#articulos"  data-toggle="tab" class="btn general-btn ml-auto">Siguiente</a>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="articulos" role="tabpanel" aria-labelledby="articulos-tab">

          <form id="form_articulos" class="m-4">

            <div class="row mt-4">
              <div class="form-group col-md-4">
                <label for="articulo">Artículo</label>
                <input type="text" class="form-control" placeholder="Artículo">
              </div>
              <div class="form-group col-md-3">
                <label for="codigo_barras">Código de Barras</label>
                <input type="text" class="form-control" placeholder="Código de Barras">
              </div>
              <div class="form-group col-md-2">
                <label for="total">Total</label>
                <input type="number" class="form-control" placeholder="Total">
              </div>
              <div class="col-md-3 mt-1">
                <button type="button" class=" mt-5 btn search-btn">Agregar</button>
              </div>
            </div>

            <div class="table-responsive mt-4">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Artículo</th>
                    <th>Código de Barras</th>
                    <th>Total</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody id="tabla_articulos">
                  <tr>
                    <td>Ejemplo Artículo 1</td>
                    <td>Código 123456</td>
                    <td>10</td>
                    <td>
                      <button type="button" class=" m-1 btn btn-info btn-sm">Editar</button>
                      <button type="button" class=" m-1 btn btn-danger btn-sm">Borrar</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Ejemplo Artículo 2</td>
                    <td>Código 789012</td>
                    <td>5</td>
                    <td>
                      <button type="button" class="m-1 btn btn-info btn-sm" data-toggle="modal" data-target="#editarModal">Editar</button>
                      <button type="button" class="m-1 btn btn-danger btn-sm">Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-end mt-4">
              <button type="submit" class="btn general-btn ml-auto">
                Finalizar
              </button>
            </div>


            <!-- Modal para editar artículo -->
  <div class="modal fade" id="editarModal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="title mb-0 text-center" id="editarModalLabel">Editar Artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row m-1">
            <div class="form-group col-md-4">
              <label for="editar_articulo">Artículo</label>
              <input type="text" class="form-control" id="editar_articulo" placeholder="Artículo a editar">
            </div>
            <div class="form-group col-md-3">
              <label for="Unidad">Unidad</label>
              <input type="text" class="form-control" id="editar_codigo_barras" placeholder="Peso">
            </div>
            <div class="form-group col-md-4">
              <label for="editar_codigo_barras">Código de proveedor</label>
              <input type="text" class="form-control" id="editar_codigo_barras" placeholder="Código">
            </div>
          </div>
          <div class="row m-1">
            <div class="form-group col-md-4">
              <label for="cantidad">Cantidad</label>
              <input type="text" class="form-control" id="editar_articulo" placeholder="Cantidad">
            </div>
            <div class="form-group col-md-3">
              <label for="precioUni">Precio unidad</label>
              <input type="text" class="form-control" id="editar_codigo_barras" placeholder="precioUni">
            </div>
            <div class="form-group col-md-4">
              <label for="descuento">Descuento</label>
              <input type="text" class="form-control" id="editar_codigo_barras" placeholder="descuento">
            </div>
          </div>
          <div class="form-group">
            <label for="editar_total">Total</label>
            <input type="number" class="form-control" id="editar_total" placeholder="Total">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn search-btn" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn general-btn ">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>

          </form>


        </div>
      </div>
    </div>
  </div>
</div>


