
.table-responsive{
  max-height: 400px;
  overflow-y: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  // border: 1px solid #e0e0e0;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  cursor: default;
  font-size: 19px;
  background-color: #f5f5f59f;
}
.custom-table tr:hover {
  background-color: #f0f0f0;
  cursor: pointer; /* Agregar un efecto de cursor al pasar el mouse por encima */
}


// AREA DE TOTALES
hr { margin: 10px 0;}
section {
  border-top: 1px solid #d3caca9f;
}
.total_name{
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: right;
}
 .total {
  font-size: 21px;
  font-weight: 300;
 }

#editarModal {
  align-items: center;
  justify-content: center;

}




.nom_total {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding-right: 0px;
}
.nom_cantidad {
  // text-align: right;
  text-align: left;
  font-size: 19px;
  font-weight: 400;
  padding-right: 0px;
}
.nom_cantidad2 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  padding-right: 5px;
}
.nom_input{
  font-weight: 400;
  font-size: 17px;
  // border: none;
  // border-bottom: 1px solid rgba(111, 101, 101, 0.733)
}

.tipo_cambio{
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}
// .modal{
//   z-index: 1033;
// }
