// Template ligth
// $bg-sidebar : #f1f1f1;
$bg-content : #ffffff;
$sidebar : (bg: white,
  buttons: #f1f1f1,
  footer: white,
  txt: black,
  bx-shadow: #999a9b,
  hr: #999a9b,
  btn_close: black,
  btn_show: white,
  btn_i: black);
$color-txt : black;

// Template dark
// $sidebar : (
//   bg: white,
//   buttons: #f1f1f1,
//   footer: white,
//   txt: black,
//   bx-shadow : #999a9b,
//   hr: #999a9b,
//   btn_close : #ffffff
// );
/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #9F1223;
  --secondary-color: #E3008C;
  --tertiary-color: #CB00D9;


  //Paleta de colores para la aplicación
  --bg-elements: #f1f1f1;
  --bg-color: #F1F2F5;
  --color-base: #16c7ff;
  --hover-base: #9084fd;
  --color-secundario: #FE900B;
  --color-terciario: #D94B4B;
  --danger-color: #6b0c0c;

  --red: #D50901;
  --white: #E7E8EB;
  --danger: #ED383C;
  --success: #71B90D;
  --warning: #F7C60C;
  --info: #77BDEC;
  --black: #525252;
  --gray: #DBDBDB;
}

/* Fonts */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src:
    url("./fonts/Barlow-Medium.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/Roboto-Regular.ttf");
}

/* Diseños */
.Wt {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-size: 22px;
}

.Wp {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
}

.btn-custom {
  border-color: transparent;
  border-radius: 40px;
  padding: 5px 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
}

.success {
  background-color: var(--success);
  color: white;
}

.success:hover {
  border-color: var(--success);
  color: var(--success);
  background-color: transparent;
}

.danger {
  background-color: var(--danger);
  color: white;
}

.danger:hover {
  border-color: var(--danger);
  color: var(--danger);
  background-color: transparent;
}

.warning {
  background-color: var(--warning);
  color: white;
}

.warning:hover {
  border-color: var(--warning);
  color: var(--warning);
  background-color: transparent;
}

.info {
  background-color: var(--info);
  color: white;
}

.info:hover {
  border-color: var(--info);
  color: var(--info);
  background-color: transparent;
}

.form-ctrl {
  position: relative;
  width: 100%;
}

.form-ctrl .inputText {
  font-family: 'Barlow', sans-serif;
  color: var(--gray);
  text-decoration: none;
  border: 0px;
  border: 1px var(--gray) solid;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  outline: none;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075) !important;
}

.form-ctrl .floating-label {
  position: absolute;
  pointer-events: none;
  font-family: 'Barlow', sans-serif;
  color: var(--gray);
  top: 30px;
  left: 5px;
  font-size: 14px;
  transition: 0.2s ease all;
}

.form-ctrl input:focus~.floating-label,
.form-ctrl input:not(:focus):valid~.floating-label {
  color: var(--black);
  top: 0px;
  left: 0px;
  font-size: 12px;
  opacity: 1;
}

.I-icon {
  position: absolute;
  top: 30px;
  right: 5px;
  font-size: 18px;
  font-weight: 600;
  color: var(--gray);
  cursor: pointer;
}

.slt-custom {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  color: var(--black);
  padding: 5px 15px;
  border: 1px var(--black) solid;
  border-radius: 8px;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.header-modal i {
  font-size: 20px;
  cursor: pointer;
}

.body-modal {
  padding: 15px 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  word-wrap: break-word;
}

//AñADIDO DE ESTILOS DE MARCA

//BOTONES
.general-btn,
.danger-btn,
.search-btn,
.add-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  transition: background-color 0.6s ease;
  max-width: 200px;
  box-shadow: 3px 5px 18px -6px rgba(0, 0, 0, 0.500);
}



.general-btn {
  background-color: var(--color-base);

  &:hover {
    background-color: var(--hover-base);
  }
}

.danger-btn {
  background-color: var(--color-terciario);

  &:hover {
    background-color: var(--danger-color);
  }
}

.add-btn {
  background-color: var(--color-base);

  &:hover {
    background-color: var(--hover-base);
  }
}

.icon-btn {
  background-color: var(--color-secundario);
  padding: 2px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

//BUSCADORES
.search-input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-color: #dce0daa4;
  transition: background-color 0.3s ease;
  outline: none;
  width: min(100%, 300px);

  &:focus {
    outline: 0.5px solid var(--color-base);
    box-shadow: 0px 2px 20px -5px var(--color-base);
    transition: 300ms;
  }
}

.search-loader, .search-list {
  position: absolute !important;
  top: 47px;
  z-index: 1;
  background-color: white;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  box-shadow: 0px 8px 12px 3px rgba(0, 0, 0, 0.315);
  width: min(100%, 300px) !important;
}

.search-loader {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-list {
  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .search-list__element {
    padding: 10px 5px;
    border: 1px solid rgb(0, 0, 0, 0.2);

    &:hover {
      background-color: rgb(238, 238, 238);
      cursor: pointer;
    }
  }
}

.search-btn {
  background-color: var(--color-secundario);

  &:hover {
    background-color: var(--hover-base);
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


