/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #9F1223;
  --secondary-color: #E3008C;
  --tertiary-color: #CB00D9;


  //Paleta de colores para la aplicación
  --bg-color: #F1F2F5;
  --color-base: #41e94c;
  --hover-base: #f5e612;
  --color-secundario: #FE900B;
  --color-terciario: #D94B4B;
  --danger-color: #6b0c0c;

  --red: #D50901;
  --white: #E7E8EB;
  --danger : #ED383C;
  --success: #71B90D;
  --warning : #F7C60C;
  --info : #77BDEC;
  --black : #525252;
  --gray : #DBDBDB;
}
/* Fonts */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src:
      url("./fonts/Barlow-Medium.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
      url("./fonts/Roboto-Regular.ttf");
}

/* Diseños */
.Wt {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-size: 22px;
}
.Wp {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
}
.btn-custom{
  border-color: transparent;
  border-radius: 40px;
  padding: 5px 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
}
.success{
  background-color: var(--success);
  color: white;
}
.success:hover {
  border-color: var(--success);
  color: var(--success);
  background-color: transparent;
}
.danger {
  background-color: var(--danger);
  color: white;
}
.danger:hover {
  border-color: var(--danger);
  color: var(--danger);
  background-color: transparent;
}
.warning {
  background-color: var(--warning);
  color: white;
}
.warning:hover {
  border-color: var(--warning);
  color: var(--warning);
  background-color: transparent;
}
.info{
  background-color: var(--info);
  color: white;
}
.info:hover {
  border-color: var(--info);
  color: var(--info);
  background-color: transparent;
}
.form-ctrl {
  position: relative;
  width: 100%;
}

.form-ctrl .inputText {
  font-family: 'Barlow', sans-serif;
  color: var(--gray);
  text-decoration: none;
  border: 0px;
  border: 1px var(--gray) solid;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  width : 100%;
  outline: none;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075) !important;
}

.form-ctrl .floating-label {
  position: absolute;
  pointer-events: none;
  font-family: 'Barlow', sans-serif;
  color: var(--gray);
  top: 30px;
  left: 5px;
  font-size: 14px;
  transition: 0.2s ease all;
}

.form-ctrl input:focus ~ .floating-label,
.form-ctrl input:not(:focus):valid ~ .floating-label {
  color: var(--black);
  top: 0px;
  left: 0px;
  font-size: 12px;
  opacity: 1;
}
.I-icon {
  position: absolute;
  top: 30px;
  right: 5px;
  font-size: 18px;
  font-weight: 600;
  color: var(--gray);
  cursor :pointer;
}
.slt-custom {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  color: var(--black);
  padding: 5px 15px;
  border: 1px var(--black) solid;
  border-radius: 8px;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}
.header-modal i{
  font-size: 20px;
  cursor: pointer;
}
.body-modal{
  padding: 15px 10px;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  //background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  word-wrap: break-word;
}

//AñADIDO DE ESTILOS DE MARCA

html, body {
  height: 100%;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(151 1000 750) scale(22.15) translate(-954.85 -716.14)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(151 1000 750) scale(22.15) translate(-954.85 -716.14)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(151 1000 750) scale(22.15) translate(-954.85 -716.14)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(151 1000 750) scale(22.15) translate(-954.85 -716.14)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(151 1000 750) scale(22.15) translate(-954.85 -716.14)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(151 1000 750) scale(22.15) translate(-954.85 -716.14)'%3E%3Cg fill='%237FFF31'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(151 1000 750) scale(22.15) translate(-954.85 -716.14)'%3E%3Cg fill='%237FFF31'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(151 1000 750) scale(22.15) translate(-954.85 -716.14)'%3E%3Cg fill='%237FFF31'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
