/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #9F1223;
  --secondary-color: #E3008C;
  --tertiary-color: #CB00D9;

  //Paleta de colores para la aplicación
  --color-base: #F6DF6B;
  --hover-base: #D94B4B;
  --color-secundario: #d27a2e;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  word-wrap: break-word;
}

//AñADIDO DE ESTILOS DE MARCAS

.search-input {
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: #dce0da;
  transition: background-color 0.3s ease;

  &:focus {
    outline: 0.5px solid var(--color-base);
  }
}

.search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  background-color: var(--color-base);
  color: white;
  font-weight: bold;
  transition: background-color 0.6s ease;


  &:hover {
    background-color: var(--hover-base);
  }
}

.add-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  background-color: var(--color-secundario);
  color: white;
  font-weight: 500;

  &:hover {
    transition: 500ms;
    background-image: linear-gradient(16deg, #dfa12e 0%, #d27a2e 64%, #a3231a 100%);
  }
}