@import '../breakpoints.scss';

// Titulo
.tit_cat {
  font-size: 3rem;
  color: #333;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  text-align: center;
}

/* Estilos para los inputs y botones de la barra */
.search-bar {

  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  border-radius: 1em;
  transition: opacity .2s ease-in-out;
  display: flex;
  justify-content: center;
  gap: 10px;
}



//BOTON => ' + '  <=
.btn_h {
  display: inline-block;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--color-base);
  color: white;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  position: absolute;
  right: 9px;
  top: 5px;
  pointer-events: auto;
  z-index: 1;
}



.search-input {
  width: 100%;
  height: 50px;
}
.b {
  height: 50px;
}

.btn_h:hover {
  background-color: var(--hover-base);
}

.search-btn, .add-btn {
  max-width: 250px;
}



// CARD
.card-price {
  font-size: 1.1rem;
}

.titulo{
  font-size: 24.3px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  &__card {
    width: min(90%, 250px);

    @include xxl {
      max-width: 300px;
    }
  }
}

a.editar-link {
  z-index: 1; /* Ajusta el valor del z-index según sea necesario */
}
#image-card{
  height: 250px;
  width: min(100%, 350px);
  display: flex;
  overflow: hidden;
  .cards__card {
    height: 400px; /* Establece una altura fija para todas las tarjetas */
    overflow: hidden; /* Oculta cualquier contenido que se desborde de la tarjeta */
  }

  img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s;
  pointer-events: auto;
  }


}



/* Estilos para la sombra al hacer hover */
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.048);
  transition: opacity 0.4s;
  opacity: 0;
  pointer-events: auto;
}

.card:hover::before {
  opacity: 1;
}

/* Zoom hacia dentro de la imagen al hacer hover en la card */
.card:hover img {
  transform: scale(1.1);
}





//MODAL
.modal-product {
  .modal-dialog {
    width: 400px; /* Ajusta el ancho máximo del modal */
  }

  .modal-content {
    border-radius: 13px; /* Agrega bordes redondeados al modal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega sombra al modal */
  }

  .modal-header {
    background-color: #f8f9fa; /* Cambia el color del fondo del header */
    border-bottom: none; /* Elimina el borde inferior del header */
  }

  .modal-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .modal-body {
    padding: 20px;
  }

  .carousel-wrap {
    max-height: 600px; /* Ajusta la altura máxima del carrusel */
    overflow: hidden;
    position: relative;
  }

  .carousel-inner {
    display: flex; /* Muestra los elementos del carrusel en línea */
    transition: transform 0.4s; /* Agrega una transición suave al carrusel */
  }

  .carousel-item {
    flex: 0 0 100%; /* Hace que cada elemento ocupe el ancho completo */
    margin-right: 20px; /* Agrega un espacio entre los elementos del carrusel */
    border-radius: 5px;
    overflow: hidden; /* Oculta cualquier contenido que se desborde del carrusel */
  }


  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(240, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }





  .font-weight-bold {
    font-weight: bold; /* Agrega negrita a los títulos de información */
  }
}

/* Estilos para la imagen en el modal */
.product-image {
  width: 100%;
  height: 250px; /* Establecer una altura fija para la imagen */
  background-color: #f0f0f0ab; /* Color de fondo para el área de la imagen */
  display: flex;
  align-items: center;
  justify-content: center;

}

.product-image img {
  max-width: 100%;
  max-height: 100%;
}










/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-bar  {
    width: 100%;
  }

  .search-bar button {
    width: 100%;
  }
}



