<app-orders-cart (toggleModalVisibility)="toggleModalVisibility()"></app-orders-cart>
<app-orders-cart-modal *ngIf="modalVisibility"
  (toggleModalVisibility)="toggleModalVisibility()"></app-orders-cart-modal>

  <div class="container-fluid">

    <h1 class="mb-2 title text-center m-4">PRODUCTOS</h1>
    <div class="search-bar row" [class.sticky]="isSticky" [class.active]="isSticky">
      <input type="text" class="search-input col-10 col-md-3" placeholder="Productos" [(ngModel)]="searchTitle">
      <input type="text" class="search-input col-10 col-md-3" placeholder="Familia" [(ngModel)]="searchFam">
      <button type="button" class="b search-btn" (click)="buscar()">BUSCAR</button>
      <button type="button" class="b add-btn" (click)="addProducto()">AGREGAR PRODUCTO</button>
    </div>

    <div class="text-center" *ngIf="resultsNotFound" style="  color:red; font-size: 40px;">No se encontraron resultados.
    </div>
    <hr />


    <div class="cards">
      <div class="cards__card" *ngFor="let articulo of filteredItems" >
        <div class="card">
          <a type="button" class="mt-1 me-1 align-self-end btn_h " (click)="agregarProductoCarrito(articulo)">+</a>
          <div id="image-card" class="img-thumbnail" >
            <img *ngIf="articulo.imagenes.length == 0" src="../../../../../assets/img/imgK.png" alt="Producto" class="zoom-on" (click)="abrirModalConImagenes(articulo)">
            <img *ngIf="articulo.imagenes.length > 0" [src]="articulo.imagenes[0].fotografia" alt="Producto" class="zoom-on" (click)="abrirModalConImagenes(articulo)">
          </div>
          <div class="card-content">
            <div class="container">
              <div class="row">
              </div>
            </div>
            <div class="media">
              <div class="media-content">
                <h1 class="title mb-1">{{ articulo.articulo }}</h1>
                <h2 class="subtitle mb-0 mt-1">{{ articulo.familia}}</h2>
                <span class="mb-0"><b>
                  <b>
                    E- <span style="color: green">{{articulo.existencia}}</span>
                    P- <span style="color: yellow">{{articulo.pedidos}}</span>
                    D- <span style="color: red">{{articulo.disponible}}</span>
                  </b></b></span>
                <br>
                <span><b>Unidad</b> {{articulo.medida}}</span>
              </div>
            </div>
            <a class="" (click)="editarArt(articulo.id_articulo)" style="color: var(--color-terciario)">EDITAR  </a>
            <span class="card-price ms-4"><strong>{{ articulo.precio_venta | currency: 'MX'}}</strong></span>
          </div>
        </div>
      </div>
    </div>


<!-- //MODAL -->
<div id="modalProducto" class="modal" [class.is-active]="isModalOpen" (click)="clickFuera($event)">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-product">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title product-title mb-0">{{ selectedCard?.articulo }}</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body shadow">
        <!-- Carrusel de imágenes -->
        <div id="productCarousel" class="carousel slide carousel-wrap">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let imagen of selectedCard?.imagenes; let i = index;"
              [ngClass]="{'active': i === inicoSlide}">
              <div class="product-image">
                <img [src]="imagen.fotografia" alt="Imagen del producto">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" (click)="anteriorSlide()">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <i class="fa fa-chevron-left"></i>
            </span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" (click)="siguienteSlide()">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <i class="fa fa-chevron-right"></i>
            </span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>

        <!-- Información del producto -->
        <div class="row mt-4">
          <div class="col-md-6">
            <label class="font-weight-bold">Familia:</label>
            <span> {{ selectedCard?.familia }}</span>
          </div>
          <div class="row ">
            <label class="font-weight-bold">Precio:</label>
            <span> {{ selectedCard?.precio_venta | currency: 'MX' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




</div>
<!-- Buscador -->






<!-- Logica para la animación de la barra de busqueda -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(window).scroll(function () {
    var scrollTop = $(window).scrollTop();
    var searchBar = $('.search-bar');

    if (scrollTop > 0) {
      searchBar.addClass('sticky');
    } else {
      searchBar.removeClass('sticky');
    }
  });
</script> -->
