<app-orders-cart (toggleModalVisibility)="toggleModalVisibility()"></app-orders-cart>
<app-orders-cart-modal *ngIf="modalVisibility"
  (toggleModalVisibility)="toggleModalVisibility()"></app-orders-cart-modal>

  <div class="container-fluid">

    <h1 class="mb-2 title text-center m-4">PRODUCTOS</h1>
    <div class="search-bar row" [class.sticky]="isSticky" [class.active]="isSticky">
      <input type="text" class="search-input col-10 col-md-3" placeholder="Productos" [(ngModel)]="searchTitle">
      <input type="text" class="search-input col-10 col-md-3" placeholder="Familia" [(ngModel)]="searchFam">
      <button type="button" class="b search-btn" (click)="buscar()">BUSCAR</button>
      <button type="button" class="b add-btn" (click)="addProducto()">AGREGAR PRODUCTO</button>
    </div>

    <div class="text-center" *ngIf="resultsNotFound" style="  color:red; font-size: 40px;">No se encontraron resultados.
    </div>
    <hr />


    <div class="cards">
      <div class="cards__card" *ngFor="let articulo of filteredItems" >
        <div class="card">
          <a type="button" class="mt-1 me-1 align-self-end btn_h " (click)="agregarProductoCarrito(articulo)">+</a>
          <div id="image-card" class="img-thumbnail" >
            <img *ngIf="articulo.imagenes.length == 0" src="../../../../../assets/img/imgK.png" alt="Producto">
            <img *ngIf="articulo.imagenes.length > 0" [src]="articulo.imagenes[0].fotografia" alt="Producto">
          </div>
          <div class="card-content">
            <div class="container">
              <div class="row">
                <!-- <div class="col-sm-3" *ngFor="let img of articulo.imagenes">
                  <img [src]="img.fotografia" alt="">
                </div> -->
              </div>
            </div>
            <div class="media">
              <div class="media-content">
                <h1 class="title mb-1">{{ articulo.articulo }}</h1>
                <h2 class="subtitle mb-0 mt-1">{{ articulo.familia}}</h2>
                <span class="mb-0"><b>
                  <b>
                    E- <span style="color: green">{{articulo.existencia}}</span>
                    P- <span style="color: yellow">{{articulo.pedidos}}</span>
                    D- <span style="color: red">{{articulo.disponible}}</span>
                  </b></b></span>
                <br>
                <span><b>Unidad</b> {{articulo.medida}}</span>
              </div>
            </div>
            <a class="" (click)="editarArt(articulo.id_articulo)" style="color: var(--color-terciario)">EDITAR  </a>
            <span class="card-price ms-4"><strong>{{ articulo.precio_venta | currency: 'MX'}}</strong></span>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div id="modalProducto" class="modal" [class.is-active]="isModalOpen">
      <div class="modal-background"></div>
      <div class="modal-content" *ngIf="selectedCard">
        <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
        <div class="box">
          <div class="media">
            <div class="media-left">
              <figure class="image ">
                <img src="https://koonol.mx/KN/public/segmentos/lacteos.png" alt="Producto">
              </figure>
            </div>
            <div class="media-content">
              <p class="title">{{ selectedCard.articulo }}</p>
              <p class="fam"> Familia: <b>{{ selectedCard.familia }}</b></p>
              <p>Price: <b>{{ selectedCard.precio_venta | currency: 'MEX' }}</b></p>
            </div>
            <button class=" btn general-btn" type="submit">EDITAR</button>
          </div>
          <table class="table is-bordered is-fullwidth">
            <thead>
              <tr>
                <th>Almacen</th>
                <th>Ubicacion</th>
                <th>Precio</th>
                <th>Unidad</th>
                <th>Descuento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Norte</td>
                <td>Ubicacion 1</td>
                <td>$10.00</td>
                <td>costal (20kg)</td>
                <td>15%</td>
              </tr>
              <tr>
                <td>SurEste</td>
                <td>Ubicacion 2</td>
                <td>$15.00</td>
                <td>kg</td>
                <td>20%</td>
              </tr>
              <!--Argegar filas -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<!-- Buscador -->






<!-- Logica para la animación de la barra de busqueda -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(window).scroll(function () {
    var scrollTop = $(window).scrollTop();
    var searchBar = $('.search-bar');

    if (scrollTop > 0) {
      searchBar.addClass('sticky');
    } else {
      searchBar.removeClass('sticky');
    }
  });
</script> -->
