<div class="p-2 shadow container">

  <!-- FORMULARIO -->
  <form class="form-group"
  #productForm="ngForm"
  (ngSubmit)="guardarArticulo(productForm)"
  >
    <div class="row">
      <h1 class="title text-center">Nuevo Producto</h1>
      <div class="col-md-6">
        <div class="form-label col-md-4">
          <label for="inputAlmacen">ALMACEN</label>
          <select
          id="inputAlmacen"
          class="form-control"
          name="almacen"
          required
          [(ngModel)]="item.id_almacen"

          >
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="form-label">
          <label for="inputNombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="articulo"
            id="inputNombre"
            required
            placeholder="..."
            [(ngModel)]="item.articulo"
          />
        </div>
        <div class="form-label">
          <label class="label-label" for="inputFamilia">Familia</label>
          <input
            type="text"
            class="form-control"
            id="inputFamilia"
            placeholder="..."
          />
        </div>
        <div class="form-label">
          <label for="inputProveedor">Unidad de medida</label>
          <input
            type="number"
            class="form-control"
            id="inputProveedor"
            placeholder="..."
            required
            name="medida"
            [(ngModel)]="item.id_medida"
          />
        </div>
        <div class="form-label">
          <label for="inputPrecio">PRECIO</label>
          <input
            type="number"
            class="form-control"
            name="precio_venta"
            id="inputPrecio"
            placeholder="..."
            required
            [(ngModel)]="item.precio_venta"
          />
        </div>
        <div class="row">
          <div class="form-label col-md-4">
            <label for="inputFamilia">Descuento 1</label>
            <input
              type="text"
              class="form-control"
              id="inputFamilia"
              placeholder="..."
            />
          </div>
          <div class="form-label col-md-4">
            <label for="inputFamilia">Descuento 2</label>
            <input
              type="text"
              class="form-control"
              id="inputFamilia"
              placeholder="..."
            />
          </div>
          <div class="form-label col-md-4">
            <label for="inputFamilia">Descuento 3</label>
            <input
              type="text"
              class="form-control"
              id="inputFamilia"
              placeholder="..."
            />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-label">
          <label for="inputFamilia">Minimo</label>
          <input
            type="text"
            class="form-control"
            id="inputFamilia"
            placeholder="..."
          />
        </div>
        <div class="form-label">
          <label for="inputFamilia">Maximo</label>
          <input
            type="text"
            class="form-control"
            id="inputFamilia"
            placeholder="..."
          />
        </div>
        <div class="form-label">
          <label for="inputFamilia">Reorden</label>
          <input
            type="text"
            class="form-control"
            id="inputFamilia"
            placeholder="..."
          />
        </div>
      </div>
    </div>
    <button type="submit" class="m-2 btn search-btn">Guardar</button>

  </form>


<div class="row">
  <div class="col">
     <!-- IMAGENES -->
  <div class="col-6 d-flex flex-column align-items-center justify-content-center">
    <div *ngIf="uploadedImages.length > 0" class="text-center mp-3">
      <img
        class="img-fluid"
        [src]="uploadedImages[uploadedImages.length -1]"
        alt="Imagen comprimida"
        [style.width.px]="250"
        [style.height.px]="250"
      />
    </div>

  <!-- MINIATURAS -->
  <div class="d-flex flex-wrap justify-content-center mt-2">
    <div *ngFor="let image of uploadedImages; let i = index" class="mr-2 mb-2" >
      <img
      style="cursor: pointer;"
        class="img-thumbnail"
        [src]="image"
        alt="miniatura"
        [style.width.px]="55"
        [style.height.px]="55"
        (click)="displayImage(i)"
      />
    </div>
  </div>


  <!-- BOTONES -->
  <div class="2">
    <button
      class="m-2 btn general-btn"
      (click)="uploadAndResize()"
      [disabled]="imageCount >= 5"
    >
      Subir imagen
    </button>
    <button type="button" class="m-2 btn danger-btn" [routerLink]="['/home']">Cancelar</button>

  </div>
  </div>
</div>
</div>
