<div class="container">
    <!-- HEADER DE LA PÁGINA -->
    <header class="w-100 d-flex justify-content-center mb-5">
        <h3 class="title">Bitácora de visitas</h3>
    </header>
    <!-- CUERPO DE LA PÁGINA -->
    <section class="w-100 row">
        <!-- CARDS -->
        <div [ngStyle]="{'width': '350px'}">
            <div class="border" [ngStyle]="{'height': '250px', 'width':'330px'}"
                *ngFor="let registro of visitasDeVendedores">
                <div class="card-body">
                    <section class="d-flex justify-content-between">
                        <h3 class="subtitle mb-3"> <b>{{registro.vendedor}}</b> </h3>
                        <label [ngStyle]="{'color': 'steelblue', 'cursor': 'pointer'}">
                            Ruta <input type="checkbox" [ngStyle]="{'margin-left': '3px', 'transform': 'translateY(2px)'}">
                        </label>
                    </section>
                    <h5 class="pb-2 border-bottom">Visitas:</h5>
                    <div [ngStyle]="{'height':'100px', 'overflow-y': 'auto'}">
                        <ul class="d-flex flex-column p-1 border-bottom" *ngFor="let visita of registro.visitas">
                            <li class="p-1"><b>Cliente:</b> {{visita.cliente}} </li>
                            <li class="p-1">Recepción: {{visita.contacto}}</li>
                            <li class="p-1">Fecha y hora: {{visita.fecha_visita}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- GOOGLE MAPS -->
        <div class="sidebar-map p-2 border">
            <!-- TÍTULO -->
            <h3 class="title mb-1 text-center">Rutas</h3>
            <!-- CUERPO -->
            <app-maps class="d-flex" [ngStyle]="{'height':'90%'}"></app-maps>
            <!-- ABRIR Y CERRAR -->
            <span><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </div>
    </section>
</div>