<div class="container">
    <!-- HEADER DE LA PÁGINA -->
    <header class="w-100 d-flex justify-content-center mb-5">
        <h3 class="title">Bitácora de visitas</h3>
    </header>
    <!-- FILTROS DE LA PÁGINA -->
    <!-- <div class="clients__search-bar">
        <div class="d-flex flex-column">
            <input class="search-input" type="text" placeholder="Buscar cliente" aria-label="Buscar cliente"
                title="Buscar cliente" aria-describedby="button-addon2" [formControl]="searchClientControl" />
            <div class="search-loader w-100" *ngIf="loader; else clientsReady">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
            <div class="d-flex w-100 justify-content-center p-2 border" *ngIf="noClients">
                <h4>No se encontraron clientes</h4>
            </div>
            <ng-template #clientsReady>
                <ul class="search-list" *ngIf="searchList">
                    <li class="search-list__element" *ngFor="let client of autocompleteClients"
                        (click)="seleccionarCliente(client.id_cliente)">
                        {{ client.cliente }}
                    </li>
                </ul>
            </ng-template>
        </div>
    </div> -->
    <!-- CUERPO DE LA PÁGINA -->
    <section class="w-100 row">
        <!-- CARDS -->
        <div class="w-50">
            <div class="border" [ngStyle]="{'height': '250px', 'width':'350px'}"
                *ngFor="let registro of visitasDeVendedores">
                <div class="card-body">
                    <section class="d-flex justify-content-between">
                        <h3 class="subtitle mb-3"> <b>{{registro.vendedor}}</b> </h3>
                        <label [ngStyle]="{'color': 'steelblue', 'cursor': 'pointer'}">
                            Ruta <input type="checkbox" [ngStyle]="{'margin-left': '3px', 'transform': 'translateY(2px)'}">
                        </label>
                    </section>
                    <h5 class="pb-2 border-bottom">Visitas:</h5>
                    <div [ngStyle]="{'height':'100px', 'overflow-y': 'auto'}">
                        <ul class="d-flex flex-column p-1 border-bottom" *ngFor="let visita of registro.visitas">
                            <li class="p-1"><b>Cliente:</b> {{visita.cliente}} </li>
                            <li class="p-1">Recepción: {{visita.contacto}}</li>
                            <li class="p-1">Fecha y hora: {{visita.fecha_visita}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- GOOGLE MAPS -->
        <div class="w-50">
            <app-maps></app-maps>
        </div>
    </section>
</div>